In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('bank_transactions.csv')

data

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionDate,TransactionTime,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,2/8/16,143207,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,2/8/16,141858,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,2/8/16,142712,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2/8/16,142714,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,2/8/16,181156,1762.5
...,...,...,...,...,...,...,...,...,...
1048562,T1048563,C8020229,8/4/90,M,NEW DELHI,7635.19,18/9/16,184824,799.0
1048563,T1048564,C6459278,20/2/92,M,NASHIK,27311.42,18/9/16,183734,460.0
1048564,T1048565,C6412354,18/5/89,M,HYDERABAD,221757.06,18/9/16,183313,770.0
1048565,T1048566,C6420483,30/8/78,M,VISAKHAPATNAM,10117.87,18/9/16,184706,1000.0
1048566,T1048567,C8337524,5/3/84,M,PUNE,75734.42,18/9/16,181222,1166.0

In [3]:
# the TransactionDate and TransactionTime columns will not be needed in this analysis

columns_to_drop = data[['TransactionDate', 'TransactionTime']]

data.drop(columns = columns_to_drop, inplace = True)

data.head()

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,1762.5

In [4]:
# this dataset is quite large, so let's do some slicing

first_rows = data.head(5500)
last_rows = data.tail(5500)

df = pd.concat([first_rows, last_rows])
df.reset_index(drop=True, inplace=True)

df

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionAmount (INR)
0,T1,C5841053,10/1/94,F,JAMSHEDPUR,17819.05,25.0
1,T2,C2142763,4/4/57,M,JHAJJAR,2270.69,27999.0
2,T3,C4417068,26/11/96,F,MUMBAI,17874.44,459.0
3,T4,C5342380,14/9/73,F,MUMBAI,866503.21,2060.0
4,T5,C9031234,24/3/88,F,NAVI MUMBAI,6714.43,1762.5
...,...,...,...,...,...,...,...
10995,T1048563,C8020229,8/4/90,M,NEW DELHI,7635.19,799.0
10996,T1048564,C6459278,20/2/92,M,NASHIK,27311.42,460.0
10997,T1048565,C6412354,18/5/89,M,HYDERABAD,221757.06,770.0
10998,T1048566,C6420483,30/8/78,M,VISAKHAPATNAM,10117.87,1000.0
10999,T1048567,C8337524,5/3/84,M,PUNE,75734.42,1166.0

In [5]:
# the customerDOB is in the wrong format in the dataset so we have to fix that before inserting values in the tables

def preprocess_date(date_str):
    # Check if the date string is already in the desired format ('YYYY-MM-DD')
    if '-' in date_str:
        return date_str
    
    day, month, year = map(int, date_str.split('/'))  # Assuming years 6 and above represent 1900s, and years below represent 2000s
    threshold = 6
    if year <= threshold:
        year += 2000  # Years below threshold represent 2000s
    elif year > threshold:
        year += 1900
    return '{:04d}-{:02d}-{:02d}'.format(year, month, day)

df = df.dropna(subset=['CustomerDOB'])

df.loc[:, 'CustomerDOB'] = df['CustomerDOB'].apply(preprocess_date)

df

,TransactionID,CustomerID,CustomerDOB,CustGender,CustLocation,CustAccountBalance,TransactionAmount (INR)
0,T1,C5841053,1994-01-10,F,JAMSHEDPUR,17819.05,25.0
1,T2,C2142763,1957-04-04,M,JHAJJAR,2270.69,27999.0
2,T3,C4417068,1996-11-26,F,MUMBAI,17874.44,459.0
3,T4,C5342380,1973-09-14,F,MUMBAI,866503.21,2060.0
4,T5,C9031234,1988-03-24,F,NAVI MUMBAI,6714.43,1762.5
...,...,...,...,...,...,...,...
10995,T1048563,C8020229,1990-04-08,M,NEW DELHI,7635.19,799.0
10996,T1048564,C6459278,1992-02-20,M,NASHIK,27311.42,460.0
10997,T1048565,C6412354,1989-05-18,M,HYDERABAD,221757.06,770.0
10998,T1048566,C6420483,1978-08-30,M,VISAKHAPATNAM,10117.87,1000.0
10999,T1048567,C8337524,1984-03-05,M,PUNE,75734.42,1166.0

# Here's where the SQL begins. #

In [6]:
%load_ext sql
%sql sqlite://

In [7]:
%sql DROP TABLE IF EXISTS customers;
%sql DROP TABLE IF EXISTS transactions;

 * sqlite://
Done.
 * sqlite://
Done.

[]

In [8]:
create_customers_table = '''
CREATE TABLE customers(
 custID TEXT PRIMARY KEY,
 DOB DATE,
 gender TEXT,
 location TEXT
 );
'''

create_transactions_table = '''
CREATE TABLE transactions(
 transID TEXT PRIMARY KEY,
 custID TEXT,
 account_balance DECIMAL (12,2),
 transaction_amount DECIMAL (12,2),
 FOREIGN KEY (custID) REFERENCES customers (custID)
 );
'''

%sql $create_customers_table
%sql $create_transactions_table

 * sqlite://
Done.
 * sqlite://
Done.

[]

Loading data into the tables.

In [9]:
for index, row in df.iterrows():
    insert_customer_query = '''
    INSERT INTO customers (custID, DOB, gender, location)
    VALUES ('{}', '{}', '{}', '{}')
    '''.format(row['CustomerID'], row['CustomerDOB'], row['CustGender'], row['CustLocation'])
    
    %sql $insert_customer_query

 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://

UsageError: unrecognized arguments: -WEST,THANE' )

In [10]:
for index, row in df.iterrows():
    insert_transaction_query = '''
    INSERT INTO transactions (transID, custID, account_balance, transaction_amount)
    VALUES ('{}', '{}', {}, {})
    '''.format(row['TransactionID'], row['CustomerID'], row['CustAccountBalance'], row['TransactionAmount (INR)'])
    
    %sql $insert_transaction_query

 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
(sqlite3.OperationalError) no such column: nan
[SQL: INSERT INTO transactions (transID, custID, account_balance, transaction_amount) VALUES ('T30', 'C8736958' , nan, 2600.0)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.
 * sqlite://
1 rows affected.

In [11]:
%%sql
SELECT * FROM transactions
LIMIT 10;

 * sqlite://
Done.

[('T1', 'C5841053', 17819.05, 25),
 ('T2', 'C2142763', 2270.69, 27999),
 ('T3', 'C4417068', 17874.44, 459),
 ('T4', 'C5342380', 866503.21, 2060),
 ('T5', 'C9031234', 6714.43, 1762.5),
 ('T6', 'C1536588', 53609.2, 676),
 ('T7', 'C7126560', 973.46, 566),
 ('T8', 'C1220223', 95075.54, 148),
 ('T9', 'C8536061', 14906.96, 833),
 ('T10', 'C6638934', 4279.22, 289.11)]

## DATA CLEANING ##

Starting with the customers table:

deleting duplicate rows

In [12]:
%%sql

DELETE FROM customers
WHERE ROWID NOT IN ( 
    SELECT MIN(ROWID)
    FROM customers
    GROUP BY custID
);

 * sqlite://
0 rows affected.

[]

handling unnatural DOBs

In [13]:
%%sql

UPDATE customers
SET DOB = '1900-01-01'
WHERE DOB = '3700-01-01';

 * sqlite://
42 rows affected.

[]

In [14]:
%%sql

UPDATE customers
SET gender = 'Unknown'
WHERE gender IS NULL;

 * sqlite://
0 rows affected.

[]

In [15]:
%%sql

UPDATE customers
SET location = 'Unknown'
WHERE location IS NULL;

 * sqlite://
0 rows affected.

[]

formatting the gender

In [16]:
%%sql

UPDATE customers
SET gender = 
 CASE
  WHEN gender = 'M' THEN 'Male'
  WHEN gender = 'F' THEN 'Female'
  ELSE gender
 END;

 * sqlite://
741 rows affected.

[]

In [17]:
%%sql

UPDATE customers
SET location = 'DELHI'
WHERE location LIKE '%DELHI'

 * sqlite://
108 rows affected.

[]

In [18]:
%%sql

UPDATE customers
SET location = 'MUMBAI'
WHERE location LIKE '%MUMBAI'

 * sqlite://
104 rows affected.

[]

In [19]:
%%sql

UPDATE customers
SET location = 'PUNE'
WHERE location LIKE '%PUNE'

 * sqlite://
30 rows affected.

[]

Now the transactions table

In [20]:
%%sql

DELETE FROM transactions
WHERE ROWID NOT IN (
    SELECT MIN(ROWID)
    FROM transactions
    GROUP BY transID);

 * sqlite://
0 rows affected.

[]

In [21]:
%%sql

SELECT * FROM transactions
WHERE transID IS NULL OR custID IS NULL OR account_balance IS NULL OR transaction_amount IS NULL;

 * sqlite://
Done.

[]

No empty cells.

## We will try to find out based on what characteristics should we categorize the customers on. ##

In [22]:
%%sql

SELECT custID, COUNT(*) AS transaction_frequency
FROM transactions
GROUP BY custID
LIMIT 20;

 * sqlite://
Done.

[('C1010157', 1),
 ('C1010726', 1),
 ('C1011072', 1),
 ('C1011140', 1),
 ('C1011359', 1),
 ('C1011553', 1),
 ('C1011853', 1),
 ('C1011949', 1),
 ('C1012018', 1),
 ('C1012421', 1),
 ('C1012567', 1),
 ('C1012814', 1),
 ('C1013016', 1),
 ('C1013036', 1),
 ('C1013277', 1),
 ('C1013469', 1),
 ('C1013820', 1),
 ('C1014190', 1),
 ('C1014262', 1),
 ('C1014433', 1)]

In [23]:
%%sql

SELECT
    custID,
    MIN(transaction_frequency) AS min_transaction_frequency,
    MAX(transaction_frequency) AS max_transaction_frequency
FROM (
    SELECT custID, COUNT(*) AS transaction_frequency
    FROM transactions
    GROUP BY custID)
GROUP BY custID;

 * sqlite://
Done.

[('C1010157', 1, 1),
 ('C1010726', 1, 1),
 ('C1011072', 1, 1),
 ('C1011140', 1, 1),
 ('C1011359', 1, 1),
 ('C1011553', 1, 1),
 ('C1011853', 1, 1),
 ('C1011949', 1, 1),
 ('C1012018', 1, 1),
 ('C1012421', 1, 1),
 ('C1012567', 1, 1),
 ('C1012814', 1, 1),
 ('C1013016', 1, 1),
 ('C1013036', 1, 1),
 ('C1013277', 1, 1),
 ('C1013469', 1, 1),
 ('C1013820', 1, 1),
 ('C1014190', 1, 1),
 ('C1014262', 1, 1),
 ('C1014433', 1, 1),
 ('C1014454', 1, 1),
 ('C1014533', 1, 1),
 ('C1014558', 1, 1),
 ('C1015213', 1, 1),
 ('C1015373', 1, 1),
 ('C1015813', 1, 1),
 ('C1015814', 1, 1),
 ('C1016017', 1, 1),
 ('C1016240', 1, 1),
 ('C1016682', 1, 1),
 ('C1017221', 1, 1),
 ('C1017433', 1, 1),
 ('C1017888', 1, 1),
 ('C1017990', 1, 1),
 ('C1018170', 1, 1),
 ('C1018514', 1, 1),
 ('C1018540', 1, 1),
 ('C1018592', 1, 1),
 ('C1019580', 1, 1),
 ('C1019625', 1, 1),
 ('C1019672', 1, 1),
 ('C1020383', 1, 1),
 ('C1020771', 1, 1),
 ('C1021343', 1, 1),
 ('C1021434', 1, 1),
 ('C1021451', 1, 1),
 ('C1022484', 1, 1),
 ('C1022638', 1, 1),
 ('C1022714', 1, 1),
 ('C1022875', 1, 1),
 ('C1022935', 1, 1),
 ('C1022943', 1, 1),
 ('C1023864', 1, 1),
 ('C1024648', 1, 1),
 ('C1024911', 1, 1),
 ('C1025072', 1, 1),
 ('C1025630', 1, 1),
 ('C1025911', 1, 1),
 ('C1025960', 1, 1),
 ('C1026065', 1, 1),
 ('C1026377', 1, 1),
 ('C1026734', 1, 1),
 ('C1026957', 1, 1),
 ('C1027686', 1, 1),
 ('C1028116', 1, 1),
 ('C1028625', 1, 1),
 ('C1028870', 1, 1),
 ('C1029978', 1, 1),
 ('C1030236', 1, 1),
 ('C1030857', 1, 1),
 ('C1031631', 1, 1),
 ('C1031992', 1, 1),
 ('C1032414', 1, 1),
 ('C1033017', 1, 1),
 ('C1033554', 1, 1),
 ('C1033733', 1, 1),
 ('C1033918', 1, 1),
 ('C1034220', 1, 1),
 ('C1034815', 1, 1),
 ('C1035435', 1, 1),
 ('C1036559', 1, 1),
 ('C1036713', 1, 1),
 ('C1036914', 1, 1),
 ('C1037046', 1, 1),
 ('C1037392', 1, 1),
 ('C1037527', 1, 1),
 ('C1038174', 1, 1),
 ('C1039088', 1, 1),
 ('C1039375', 1, 1),
 ('C1039614', 1, 1),
 ('C1039686', 1, 1),
 ('C1039832', 1, 1),
 ('C1039850', 1, 1),
 ('C1039857', 1, 1),
 ('C1039871', 1, 1),
 ('C1040842', 1, 1),
 ('C1040872', 1, 1),
 ('C1041371', 1, 1),
 ('C1041591', 1, 1),
 ('C1042488', 1, 1),
 ('C1042674', 1, 1),
 ('C1042785', 1, 1),
 ('C1043470', 1, 1),
 ('C1045936', 1, 1),
 ('C1046547', 1, 1),
 ('C1051311', 1, 1),
 ('C1051815', 1, 1),
 ('C1053679', 1, 1),
 ('C1062057', 1, 1),
 ('C1068153', 1, 1),
 ('C1070456', 1, 1),
 ('C1074434', 1, 1),
 ('C1075837', 1, 1),
 ('C1085644', 1, 1),
 ('C1085658', 1, 1),
 ('C1087336', 1, 1),
 ('C1090283', 1, 1),
 ('C1090956', 1, 1),
 ('C1091277', 1, 1),
 ('C1093160', 1, 1),
 ('C1093227', 1, 1),
 ('C1098164', 1, 1),
 ('C1099167', 1, 1),
 ('C1110246', 1, 1),
 ('C1110364', 1, 1),
 ('C1110423', 1, 1),
 ('C1110530', 1, 1),
 ('C1111228', 1, 1),
 ('C1112611', 1, 1),
 ('C1112747', 1, 1),
 ('C1112789', 1, 1),
 ('C1113031', 1, 1),
 ('C1113537', 1, 1),
 ('C1113749', 1, 1),
 ('C1114311', 1, 1),
 ('C1114712', 1, 1),
 ('C1114818', 1, 1),
 ('C1114831', 1, 1),
 ('C1114946', 1, 1),
 ('C1115055', 1, 1),
 ('C1115711', 1, 1),
 ('C1115883', 1, 1),
 ('C1115889', 1, 1),
 ('C1116120', 1, 1),
 ('C1116184', 1, 1),
 ('C1116260', 1, 1),
 ('C1116770', 1, 1),
 ('C1117021', 1, 1),
 ('C1117082', 1, 1),
 ('C1117456', 1, 1),
 ('C1117536', 1, 1),
 ('C1117560', 1, 1),
 ('C1117580', 1, 1),
 ('C1117660', 1, 1),
 ('C1117662', 1, 1),
 ('C1117728', 1, 1),
 ('C1117845', 1, 1),
 ('C1118258', 1, 1),
 ('C1118281', 1, 1),
 ('C1118437', 1, 1),
 ('C1118773', 1, 1),
 ('C1119026', 1, 1),
 ('C1120139', 1, 1),
 ('C1120448', 1, 1),
 ('C1120643', 1, 1),
 ('C1120687', 1, 1),
 ('C1120932', 1, 1),
 ('C1121046', 1, 1),
 ('C1121719', 1, 1),
 ('C1121824', 1, 1),
 ('C1121971', 1, 1),
 ('C1122140', 1, 1),
 ('C1122876', 1, 1),
 ('C1123233', 1, 1),
 ('C1123487', 1, 1),
 ('C1123877', 1, 1),
 ('C1124328', 1, 1),
 ('C1124861', 1, 1),
 ('C1125136', 1, 1),
 ('C1125190', 1, 1),
 ('C1125216', 1, 1),
 ('C1125458', 1, 1),
 ('C1125540', 1, 1),
 ('C1125642', 1, 1),
 ('C1125946', 1, 1),
 ('C1126073', 1, 1),
 ('C1126283', 1, 1),
 ('C1126553', 1, 1),
 ('C1126881', 1, 1),
 ('C1127458', 1, 1),
 ('C1127560', 1, 1),
 ('C1127681', 1, 1),
 ('C1128652', 1, 1),
 ('C1128982', 1, 1),
 ('C1129036', 1, 1),
 ('C1129844', 1, 1),
 ('C1130442', 1, 1),
 ('C1130474', 1, 1),
 ('C1130843', 1, 1),
 ('C1130912', 1, 1),
 ('C1130989', 1, 1),
 ('C1131428', 1, 1),
 ('C1131531', 1, 1),
 ('C1131664', 1, 1),
 ('C1132313', 1, 1),
 ('C1132446', 1, 1),
 ('C1133825', 1, 1),
 ('C1133828', 1, 1),
 ('C1133962', 1, 1),
 ('C1134150', 1, 1),
 ('C1135668', 1, 1),
 ('C1135783', 1, 1),
 ('C1135963', 1, 1),
 ('C1136081', 1, 1),
 ('C1136733', 1, 1),
 ('C1137421', 1, 1),
 ('C1137637', 1, 1),
 ('C1137841', 1, 1),
 ('C1138541', 1, 1),
 ('C1138636', 1, 1),
 ('C1138667', 1, 1),
 ('C1138832', 1, 1),
 ('C1139018', 1, 1),
 ('C1140325', 1, 1),
 ('C1140347', 1, 1),
 ('C1140644', 1, 1),
 ('C1140967', 1, 1),
 ('C1141286', 1, 1),
 ('C1141847', 1, 1),
 ('C1142530', 1, 1),
 ('C1148731', 1, 1),
 ('C1155983', 1, 1),
 ('C1165146', 1, 1),
 ('C1165881', 1, 1),
 ('C1166180', 1, 1),
 ('C1167282', 1, 1),
 ('C1168051', 1, 1),
 ('C1173037', 1, 1),
 ('C1184913', 1, 1),
 ('C1188613', 1, 1),
 ('C1189421', 1, 1),
 ('C1189836', 1, 1),
 ('C1194638', 1, 1),
 ('C1197120', 1, 1),
 ('C1199845', 1, 1),
 ('C1210373', 1, 1),
 ('C1210549', 1, 1),
 ('C1210614', 1, 1),
 ('C1211332', 1, 1),
 ('C1211387', 1, 1),
 ('C1211663', 1, 1),
 ('C1211717', 1, 1),
 ('C1211736', 1, 1),
 ('C1211835', 1, 1),
 ('C1211889', 1, 1),
 ('C1212875', 1, 1),
 ('C1213034', 1, 1),
 ('C1213074', 1, 1),
 ('C1213843', 1, 1),
 ('C1213940', 1, 1),
 ('C1214190', 1, 1),
 ('C1214240', 1, 1),
 ('C1214483', 1, 1),
 ('C1214515', 1, 1),
 ('C1214922', 1, 1),
 ('C1215234', 1, 1),
 ('C1215870', 1, 1),
 ('C1216226', 1, 1),
 ('C1216431', 1, 1),
 ('C1216631', 1, 1),
 ('C1217416', 1, 1),
 ('C1217612', 1, 1),
 ('C1217752', 1, 1),
 ('C1218160', 1, 1),
 ('C1218376', 1, 1),
 ('C1218683', 1, 1),
 ('C1218941', 1, 1),
 ('C1219155', 1, 1),
 ('C1219268', 1, 1),
 ('C1219526', 1, 1),
 ('C1219527', 1, 1),
 ('C1219574', 1, 1),
 ('C1219589', 1, 1),
 ('C1219639', 1, 1),
 ('C1219943', 1, 1),
 ('C1220223', 1, 1),
 ('C1221363', 1, 1),
 ('C1221486', 1, 1),
 ('C1221656', 1, 1),
 ('C1221883', 1, 1),
 ('C1221915', 1, 1),
 ('C1222084', 1, 1),
 ('C1222714', 1, 1),
 ('C1223051', 1, 1),
 ('C1223536', 1, 1),
 ('C1224039', 1, 1),
 ('C1224792', 1, 1),
 ('C1225433', 1, 1),
 ('C1225458', 1, 1),
 ('C1225647', 1, 1),
 ('C1225670', 1, 1),
 ('C1225712', 1, 1),
 ('C1225740', 1, 1),
 ('C1225835', 1, 1),
 ('C1225873', 1, 1),
 ('C1225952', 1, 1),
 ('C1226189', 1, 1),
 ('C1226959', 1, 1),
 ('C1227190', 1, 1),
 ('C1227437', 1, 1),
 ('C1228525', 1, 1),
 ('C1228565', 1, 1),
 ('C1228851', 1, 1),
 ('C1229068', 1, 1),
 ('C1229148', 1, 1),
 ('C1229152', 1, 1),
 ('C1229215', 1, 1),
 ('C1229471', 1, 1),
 ('C1229590', 1, 1),
 ('C1229971', 1, 1),
 ('C1230064', 1, 1),
 ('C1230374', 1, 1),
 ('C1230477', 1, 1),
 ('C1230589', 1, 1),
 ('C1230982', 1, 1),
 ('C1231231', 1, 1),
 ('C1231488', 1, 1),
 ('C1231891', 1, 1),
 ('C1232273', 1, 1),
 ('C1232534', 1, 1),
 ('C1232924', 1, 1),
 ('C1233083', 1, 1),
 ('C1233480', 1, 1),
 ('C1233484', 1, 1),
 ('C1234312', 1, 1),
 ('C1234413', 1, 1),
 ('C1234426', 1, 1),
 ('C1234537', 1, 1),
 ('C1234547', 1, 1),
 ('C1234748', 1, 1),
 ('C1235685', 1, 1),
 ('C1235947', 1, 1),
 ('C1236190', 1, 1),
 ('C1236286', 1, 1),
 ('C1236385', 1, 1),
 ('C1236559', 1, 1),
 ('C1236568', 1, 1),
 ('C1237122', 1, 1),
 ('C1237456', 1, 1),
 ('C1237626', 1, 1),
 ('C1238444', 1, 1),
 ('C1238867', 1, 1),
 ('C1238919', 1, 1),
 ('C1239292', 1, 1),
 ('C1239414', 1, 1),
 ('C1239455', 1, 1),
 ('C1240889', 1, 1),
 ('C1240911', 1, 1),
 ('C1241062', 1, 1),
 ('C1241419', 1, 1),
 ('C1241988', 1, 1),
 ('C1242216', 1, 1),
 ('C1242274', 1, 1),
 ('C1242513', 1, 1),
 ('C1242660', 1, 1),
 ('C1242937', 1, 1),
 ('C1243552', 1, 1),
 ('C1243811', 1, 1),
 ('C1244544', 1, 1),
 ('C1246254', 1, 1),
 ('C1250563', 1, 1),
 ('C1251391', 1, 1),
 ('C1252030', 1, 1),
 ('C1252123', 1, 1),
 ('C1253669', 1, 1),
 ('C1256830', 1, 1),
 ('C1258076', 1, 1),
 ('C1259549', 1, 1),
 ('C1263219', 1, 1),
 ('C1268950', 1, 1),
 ('C1272724', 1, 1),
 ('C1278340', 1, 1),
 ('C1280149', 1, 1),
 ('C1282519', 1, 1),
 ('C1283033', 1, 1),
 ('C1284053', 1, 1),
 ('C1285568', 1, 1),
 ('C1288027', 1, 1),
 ('C1289591', 1, 1),
 ('C1292283', 1, 1),
 ('C1294940', 1, 1),
 ('C1297524', 1, 1),
 ('C1310553', 1, 1),
 ('C1310579', 1, 1),
 ('C1310589', 1, 1),
 ('C1311175', 1, 1),
 ('C1311228', 1, 1),
 ('C1311667', 1, 1),
 ('C1311829', 1, 1),
 ('C1312278', 1, 1),
 ('C1313275', 1, 1),
 ('C1313391', 1, 1),
 ('C1313842', 1, 1),
 ('C1314127', 1, 1),
 ('C1314544', 1, 1),
 ('C1314661', 1, 1),
 ('C1314740', 1, 1),
 ('C1314879', 1, 1),
 ('C1315073', 1, 1),
 ('C1315112', 1, 1),
 ('C1315251', 1, 1),
 ('C1315664', 1, 1),
 ('C1315890', 1, 1),
 ('C1316124', 1, 1),
 ('C1316214', 1, 1),
 ('C1316246', 1, 1),
 ('C1316411', 1, 1),
 ('C1316616', 1, 1),
 ('C1316887', 1, 1),
 ('C1317985', 1, 1),
 ('C1318233', 1, 1),
 ('C1318539', 1, 1),
 ('C1318582', 1, 1),
 ('C1319088', 1, 1),
 ('C1319122', 1, 1),
 ('C1319325', 1, 1),
 ('C1319363', 1, 1),
 ('C1319568', 1, 1),
 ('C1320053', 1, 1),
 ('C1320065', 1, 1),
 ('C1320186', 1, 1),
 ('C1320511', 1, 1),
 ('C1320957', 1, 1),
 ('C1321219', 1, 1),
 ('C1322335', 1, 1),
 ('C1322458', 1, 1),
 ('C1322549', 1, 1),
 ('C1322650', 1, 1),
 ('C1323021', 1, 1),
 ('C1323120', 1, 1),
 ('C1323237', 1, 1),
 ('C1323327', 1, 1),
 ('C1323758', 1, 1),
 ('C1323876', 1, 1),
 ('C1324240', 1, 1),
 ('C1324247', 1, 1),
 ('C1324351', 1, 1),
 ('C1324536', 1, 1),
 ('C1324570', 1, 1),
 ('C1324687', 1, 1),
 ('C1324913', 1, 1),
 ('C1325238', 1, 1),
 ('C1325265', 1, 1),
 ('C1325986', 1, 1),
 ('C1326015', 1, 1),
 ('C1326223', 1, 1),
 ('C1326349', 1, 1),
 ('C1326657', 1, 1),
 ('C1326751', 1, 1),
 ('C1328324', 1, 1),
 ('C1328418', 1, 1),
 ('C1328611', 1, 1),
 ('C1328733', 1, 1),
 ('C1329525', 1, 1),
 ('C1329868', 1, 1),
 ('C1329976', 1, 1),
 ('C1330076', 1, 1),
 ('C1330221', 1, 1),
 ('C1330616', 1, 1),
 ('C1330629', 1, 1),
 ('C1330675', 1, 1),
 ('C1330931', 1, 1),
 ('C1331427', 1, 1),
 ('C1331581', 1, 1),
 ('C1331947', 1, 1),
 ('C1333042', 1, 1),
 ('C1333383', 1, 1),
 ('C1333763', 1, 1),
 ('C1333977', 1, 1),
 ('C1334066', 1, 1),
 ('C1334637', 1, 1),
 ('C1334647', 1, 1),
 ('C1335240', 1, 1),
 ('C1335285', 1, 1),
 ('C1336517', 1, 1),
 ('C1336526', 1, 1),
 ('C1337363', 1, 1),
 ('C1338943', 1, 1),
 ('C1339037', 1, 1),
 ('C1339519', 1, 1),
 ('C1339751', 1, 1),
 ('C1339954', 1, 1),
 ('C1341728', 1, 1),
 ('C1341852', 1, 1),
 ('C1342214', 1, 1),
 ('C1342256', 1, 1),
 ('C1342477', 1, 1),
 ('C1342678', 1, 1),
 ('C1342873', 1, 1),
 ('C1351346', 1, 1),
 ('C1351544', 1, 1),
 ('C1352167', 1, 1),
 ('C1356777', 1, 1),
 ('C1358246', 1, 1),
 ('C1358911', 1, 1),
 ('C1363078', 1, 1),
 ('C1363568', 1, 1),
 ('C1363939', 1, 1),
 ('C1365872', 1, 1),
 ('C1366165', 1, 1),
 ('C1367352', 1, 1),
 ('C1369971', 1, 1),
 ('C1373388', 1, 1),
 ('C1374541', 1, 1),
 ('C1376215', 1, 1),
 ('C1377014', 1, 1),
 ('C1381337', 1, 1),
 ('C1383353', 1, 1),
 ('C1384718', 1, 1),
 ('C1387960', 1, 1),
 ('C1391041', 1, 1),
 ('C1391151', 1, 1),
 ('C1396856', 1, 1),
 ('C1398057', 1, 1),
 ('C1399378', 1, 1),
 ('C1410140', 1, 1),
 ('C1410573', 1, 1),
 ('C1411976', 1, 1),
 ('C1412159', 1, 1),
 ('C1412283', 1, 1),
 ('C1412420', 1, 1),
 ('C1413228', 1, 1),
 ('C1413979', 1, 1),
 ('C1414359', 1, 1),
 ('C1414647', 1, 1),
 ('C1414735', 1, 1),
 ('C1414791', 1, 1),
 ('C1414864', 1, 1),
 ('C1415612', 1, 1),
 ('C1415614', 1, 1),
 ('C1417151', 1, 1),
 ('C1417155', 1, 1),
 ('C1417936', 1, 1),
 ('C1418031', 1, 1),
 ('C1418690', 1, 1),
 ('C1419187', 1, 1),
 ('C1419246', 1, 1),
 ('C1419265', 1, 1),
 ('C1419646', 1, 1),
 ('C1420178', 1, 1),
 ('C1420757', 1, 1),
 ('C1421051', 1, 1),
 ('C1421077', 1, 1),
 ('C1421192', 1, 1),
 ('C1422165', 1, 1),
 ('C1422662', 1, 1),
 ('C1423379', 1, 1),
 ('C1423415', 1, 1),
 ('C1423653', 1, 1),
 ('C1423737', 1, 1),
 ('C1423822', 1, 1),
 ('C1423836', 1, 1),
 ('C1423839', 1, 1),
 ('C1424276', 1, 1),
 ('C1424943', 1, 1),
 ('C1425245', 1, 1),
 ('C1425260', 1, 1),
 ('C1425515', 1, 1),
 ('C1425591', 1, 1),
 ('C1425679', 1, 1),
 ('C1425820', 1, 1),
 ('C1425919', 1, 1),
 ('C1425921', 1, 1),
 ('C1425922', 1, 1),
 ('C1426129', 1, 1),
 ('C1426688', 1, 1),
 ('C1426789', 1, 1),
 ('C1427123', 1, 1),
 ('C1427177', 1, 1),
 ('C1427642', 1, 1),
 ('C1428060', 1, 1),
 ('C1428761', 1, 1),
 ('C1429043', 1, 1),
 ('C1430227', 1, 1),
 ('C1430529', 1, 1),
 ('C1430634', 1, 1),
 ('C1431545', 1, 1),
 ('C1431576', 1, 1),
 ('C1431639', 1, 1),
 ('C1431672', 1, 1),
 ('C1432474', 1, 1),
 ('C1432632', 1, 1),
 ('C1433261', 1, 1),
 ('C1433755', 1, 1),
 ('C1433847', 1, 1),
 ('C1434262', 1, 1),
 ('C1434678', 1, 1),
 ('C1434829', 1, 1),
 ('C1434952', 1, 1),
 ('C1435192', 1, 1),
 ('C1435553', 1, 1),
 ('C1435721', 1, 1),
 ('C1436271', 1, 1),
 ('C1437151', 1, 1),
 ('C1437248', 1, 1),
 ('C1437355', 1, 1),
 ('C1437438', 1, 1),
 ('C1437575', 1, 1),
 ('C1437622', 1, 1),
 ('C1437738', 1, 1),
 ('C1438320', 1, 1),
 ('C1438372', 1, 1),
 ('C1438550', 1, 1),
 ('C1438572', 1, 1),
 ('C1438632', 1, 1),
 ('C1439187', 1, 1),
 ('C1439738', 1, 1),
 ('C1439755', 1, 1),
 ('C1439961', 1, 1),
 ('C1440323', 1, 1),
 ('C1440763', 1, 1),
 ('C1440881', 1, 1),
 ('C1440923', 1, 1),
 ('C1440987', 1, 1),
 ('C1441324', 1, 1),
 ('C1441432', 1, 1),
 ('C1441434', 1, 1),
 ('C1441453', 1, 1),
 ('C1441558', 1, 1),
 ('C1441611', 1, 1),
 ('C1441789', 1, 1),
 ('C1441837', 1, 1),
 ('C1442137', 1, 1),
 ('C1442343', 1, 1),
 ('C1442365', 1, 1),
 ('C1442661', 1, 1),
 ('C1444215', 1, 1),
 ('C1444950', 1, 1),
 ('C1448731', 1, 1),
 ('C1449482', 1, 1),
 ('C1452152', 1, 1),
 ('C1452541', 1, 1),
 ('C1457039', 1, 1),
 ('C1460330', 1, 1),
 ('C1460853', 1, 1),
 ('C1463190', 1, 1),
 ('C1464838', 1, 1),
 ('C1465764', 1, 1),
 ('C1467050', 1, 1),
 ('C1469227', 1, 1),
 ('C1479039', 1, 1),
 ('C1480986', 1, 1),
 ('C1484482', 1, 1),
 ('C1484544', 1, 1),
 ('C1490868', 1, 1),
 ('C1491580', 1, 1),
 ('C1491615', 1, 1),
 ('C1493589', 1, 1),
 ('C1494488', 1, 1),
 ('C1494737', 1, 1),
 ('C1497185', 1, 1),
 ('C1510053', 1, 1),
 ('C1510178', 1, 1),
 ('C1510540', 1, 1),
 ('C1510886', 1, 1),
 ('C1511679', 1, 1),
 ('C1511728', 1, 1),
 ('C1512130', 1, 1),
 ('C1512433', 1, 1),
 ('C1512884', 1, 1),
 ('C1512939', 1, 1),
 ('C1513057', 1, 1),
 ('C1513071', 1, 1),
 ('C1513531', 1, 1),
 ('C1513737', 1, 1),
 ('C1513739', 1, 1),
 ('C1513960', 1, 1),
 ('C1514081', 1, 1),
 ('C1514578', 1, 1),
 ('C1514856', 1, 1),
 ('C1514943', 1, 1),
 ('C1515232', 1, 1),
 ('C1516160', 1, 1),
 ('C1516222', 1, 1),
 ('C1517587', 1, 1),
 ('C1518350', 1, 1),
 ('C1518376', 1, 1),
 ('C1518811', 1, 1),
 ('C1519048', 1, 1),
 ('C1519281', 1, 1),
 ('C1519311', 1, 1),
 ('C1519447', 1, 1),
 ('C1519484', 1, 1),
 ('C1519547', 1, 1),
 ('C1520031', 1, 1),
 ('C1520655', 1, 1),
 ('C1520731', 1, 1),
 ('C1521152', 1, 1),
 ('C1521245', 1, 1),
 ('C1521481', 1, 1),
 ('C1521548', 1, 1),
 ('C1521781', 1, 1),
 ('C1521954', 1, 1),
 ('C1522224', 1, 1),
 ('C1522256', 1, 1),
 ('C1522483', 1, 1),
 ('C1522656', 1, 1),
 ('C1522843', 1, 1),
 ('C1523218', 1, 1),
 ('C1523426', 1, 1),
 ('C1523527', 1, 1),
 ('C1523943', 1, 1),
 ('C1524953', 1, 1),
 ('C1525214', 1, 1),
 ('C1525852', 1, 1),
 ('C1526214', 1, 1),
 ('C1526666', 1, 1),
 ('C1527066', 1, 1),
 ('C1527186', 1, 1),
 ('C1528025', 1, 1),
 ('C1529950', 1, 1),
 ('C1530046', 1, 1),
 ('C1530227', 1, 1),
 ('C1530713', 1, 1),
 ('C1530819', 1, 1),
 ('C1530980', 1, 1),
 ('C1531235', 1, 1),
 ('C1531248', 1, 1),
 ('C1531351', 1, 1),
 ('C1531452', 1, 1),
 ('C1531524', 1, 1),
 ('C1531843', 1, 1),
 ('C1532046', 1, 1),
 ('C1532728', 1, 1),
 ('C1533056', 1, 1),
 ('C1533067', 1, 1),
 ('C1533125', 1, 1),
 ('C1533187', 1, 1),
 ('C1533213', 1, 1),
 ('C1533452', 1, 1),
 ('C1534644', 1, 1),
 ('C1534838', 1, 1),
 ('C1534842', 1, 1),
 ('C1534913', 1, 1),
 ('C1535035', 1, 1),
 ('C1535279', 1, 1),
 ('C1535780', 1, 1),
 ('C1535864', 1, 1),
 ('C1536114', 1, 1),
 ('C1536465', 1, 1),
 ('C1536588', 1, 1),
 ('C1537248', 1, 1),
 ('C1537334', 1, 1),
 ('C1537466', 1, 1),
 ('C1537483', 1, 1),
 ('C1537725', 1, 1),
 ('C1537877', 1, 1),
 ('C1538241', 1, 1),
 ('C1538588', 1, 1),
 ('C1538833', 1, 1),
 ('C1539067', 1, 1),
 ('C1539454', 1, 1),
 ('C1539926', 1, 1),
 ('C1540539', 1, 1),
 ('C1540684', 1, 1),
 ('C1540939', 1, 1),
 ('C1541039', 1, 1),
 ('C1541083', 1, 1),
 ('C1541315', 1, 1),
 ('C1541539', 1, 1),
 ('C1542470', 1, 1),
 ('C1542592', 1, 1),
 ('C1544367', 1, 1),
 ('C1544749', 1, 1),
 ('C1551530', 1, 1),
 ('C1553267', 1, 1),
 ('C1555712', 1, 1),
 ('C1556930', 1, 1),
 ('C1557023', 1, 1),
 ('C1558539', 1, 1),
 ('C1568612', 1, 1),
 ('C1572178', 1, 1),
 ('C1573013', 1, 1),
 ('C1574719', 1, 1),
 ('C1582550', 1, 1),
 ('C1583515', 1, 1),
 ('C1583719', 1, 1),
 ('C1585571', 1, 1),
 ('C1585674', 1, 1),
 ('C1586362', 1, 1),
 ('C1591462', 1, 1),
 ('C1596087', 1, 1),
 ('C1610279', 1, 1),
 ('C1611042', 1, 1),
 ('C1611437', 1, 1),
 ('C1611480', 1, 1),
 ('C1611975', 1, 1),
 ('C1612315', 1, 1),
 ('C1612477', 1, 1),
 ('C1613022', 1, 1),
 ('C1613121', 1, 1),
 ('C1613224', 1, 1),
 ('C1613253', 1, 1),
 ('C1613271', 1, 1),
 ('C1614184', 1, 1),
 ('C1614216', 1, 1),
 ('C1614274', 1, 1),
 ('C1614817', 1, 1),
 ('C1614867', 1, 1),
 ('C1615619', 1, 1),
 ('C1615676', 1, 1),
 ('C1615832', 1, 1),
 ('C1615880', 1, 1),
 ('C1616335', 1, 1),
 ('C1616560', 1, 1),
 ('C1617014', 1, 1),
 ('C1617128', 1, 1),
 ('C1617371', 1, 1),
 ('C1617416', 1, 1),
 ('C1617684', 1, 1),
 ('C1617685', 1, 1),
 ('C1617789', 1, 1),
 ('C1617848', 1, 1),
 ('C1618162', 1, 1),
 ('C1618275', 1, 1),
 ('C1618622', 1, 1),
 ('C1618642', 1, 1),
 ('C1618692', 1, 1),
 ('C1618825', 1, 1),
 ('C1618863', 1, 1),
 ('C1619019', 1, 1),
 ('C1619627', 1, 1),
 ('C1619714', 1, 1),
 ('C1619820', 1, 1),
 ('C1619864', 1, 1),
 ('C1619943', 1, 1),
 ('C1620149', 1, 1),
 ('C1620690', 1, 1),
 ('C1620814', 1, 1),
 ('C1621614', 1, 1),
 ('C1621631', 1, 1),
 ('C1622030', 1, 1),
 ('C1622066', 1, 1),
 ('C1622185', 1, 1),
 ('C1622518', 1, 1),
 ('C1622576', 1, 1),
 ('C1622783', 1, 1),
 ('C1622962', 1, 1),
 ('C1623092', 1, 1),
 ('C1623557', 1, 1),
 ('C1624137', 1, 1),
 ('C1624437', 1, 1),
 ('C1624692', 1, 1),
 ('C1624967', 1, 1),
 ('C1625031', 1, 1),
 ('C1625064', 1, 1),
 ('C1625292', 1, 1),
 ('C1625464', 1, 1),
 ('C1625845', 1, 1),
 ('C1626247', 1, 1),
 ('C1626454', 1, 1),
 ('C1627020', 1, 1),
 ('C1627586', 1, 1),
 ('C1628046', 1, 1),
 ('C1628067', 1, 1),
 ('C1628490', 1, 1),
 ('C1628820', 1, 1),
 ('C1628852', 1, 1),
 ('C1629212', 1, 1),
 ('C1629287', 1, 1),
 ('C1629871', 2, 2),
 ('C1630623', 1, 1),
 ('C1631339', 1, 1),
 ('C1631387', 1, 1),
 ('C1631481', 1, 1),
 ('C1631550', 1, 1),
 ('C1631870', 1, 1),
 ('C1631917', 1, 1),
 ('C1632167', 1, 1),
 ('C1633461', 1, 1),
 ('C1633954', 1, 1),
 ('C1634592', 1, 1),
 ('C1634664', 1, 1),
 ('C1634771', 1, 1),
 ('C1635214', 1, 1),
 ('C1635363', 1, 1),
 ('C1635971', 1, 1),
 ('C1636029', 1, 1),
 ('C1636515', 1, 1),
 ('C1637236', 1, 1),
 ('C1637481', 1, 1),
 ('C1637492', 1, 1),
 ('C1638021', 1, 1),
 ('C1638047', 1, 1),
 ('C1638179', 1, 1),
 ('C1638314', 1, 1),
 ('C1638862', 1, 1),
 ('C1638870', 1, 1),
 ('C1638875', 1, 1),
 ('C1639773', 1, 1),
 ('C1639891', 1, 1),
 ('C1640274', 1, 1),
 ('C1640352', 1, 1),
 ('C1640579', 1, 1),
 ('C1640762', 1, 1),
 ('C1640767', 1, 1),
 ('C1640779', 1, 1),
 ('C1641092', 1, 1),
 ('C1641415', 1, 1),
 ('C1641442', 1, 1),
 ('C1642073', 1, 1),
 ('C1642533', 1, 1),
 ('C1642951', 1, 1),
 ('C1644729', 1, 1),
 ('C1645386', 1, 1),
 ('C1647116', 1, 1),
 ('C1649634', 1, 1),
 ('C1664130', 1, 1),
 ('C1664987', 1, 1),
 ('C1673154', 1, 1),
 ('C1677239', 1, 1),
 ('C1679814', 1, 1),
 ('C1694566', 1, 1),
 ('C1698359', 1, 1),
 ('C1699111', 1, 1),
 ('C1699219', 1, 1),
 ('C1699813', 1, 1),
 ('C1710412', 1, 1),
 ('C1711055', 1, 1),
 ('C1711530', 1, 1),
 ('C1711570', 1, 1),
 ('C1712248', 1, 1),
 ('C1712937', 1, 1),
 ('C1713324', 1, 1),
 ('C1713753', 1, 1),
 ('C1713934', 1, 1),
 ('C1714124', 1, 1),
 ('C1714776', 1, 1),
 ('C1715036', 1, 1),
 ('C1715239', 1, 1),
 ('C1715374', 1, 1),
 ('C1715477', 1, 1),
 ('C1715542', 1, 1),
 ('C1715563', 1, 1),
 ('C1716244', 1, 1),
 ('C1716273', 1, 1),
 ('C1716790', 1, 1),
 ('C1717158', 1, 1),
 ('C1717169', 1, 1),
 ('C1717176', 1, 1),
 ('C1717222', 1, 1),
 ('C1717240', 1, 1),

this dataset contains two months worth data so it makes sense that the frequency of transactions does not vary much. We will have to find other means.

Let's look at the summary stats

In [24]:
%%sql

SELECT
    MIN(transaction_amount) AS min_transaction_amount,
    MAX(transaction_amount) AS max_transaction_amount,
    AVG(transaction_amount) AS avg_transaction_amount,
    SQRT(SUM(transaction_amount * transaction_amount) / COUNT(*) - (SUM(transaction_amount) * SUM(transaction_amount)) / (COUNT(*) * COUNT(*))) AS stddev_transaction_amount
FROM
    transactions;

 * sqlite://
Done.

[(0, 137890, 1671.8882898100803, 6155.787696972324)]

In [25]:
%%sql

SELECT MIN(account_balance) AS min_account_balance,
    MAX(account_balance) AS max_account_balance,
    AVG(account_balance) AS avg_account_balance,
    SQRT(SUM(account_balance * account_balance) / COUNT(*) - (SUM(account_balance) * SUM(account_balance)) / (COUNT(*) * COUNT(*))) AS stddev_account_balance
FROM
    transactions;

 * sqlite://
Done.

[(0, 43165555.53, 121277.14858290723, 747362.4445762684)]

both transaction amounts and account balance columns show a large standard deviation. this might be due to extreme outliers. let's explore what could the reason be bby creating histograms.

In [26]:
%%sql

SELECT
    FLOOR(account_balance / 1000) * 1000 AS bin,
    COUNT(*) AS frequency
FROM
    transactions
GROUP BY
    bin
ORDER BY
    frequency DESC;

 * sqlite://
Done.

[(0, 1192),
 (1000, 448),
 (4000, 345),
 (2000, 338),
 (5000, 315),
 (3000, 313),
 (7000, 301),
 (6000, 260),
 (8000, 253),
 (10000, 237),
 (9000, 232),
 (11000, 222),
 (13000, 205),
 (12000, 202),
 (14000, 180),
 (16000, 140),
 (15000, 140),
 (20000, 134),
 (18000, 132),
 (17000, 131),
 (22000, 114),
 (19000, 110),
 (28000, 98),
 (21000, 96),
 (27000, 95),
 (24000, 94),
 (31000, 90),
 (29000, 89),
 (23000, 89),
 (25000, 87),
 (33000, 80),
 (30000, 72),
 (36000, 68),
 (32000, 67),
 (35000, 64),
 (26000, 64),
 (38000, 60),
 (40000, 59),
 (37000, 57),
 (34000, 54),
 (41000, 53),
 (45000, 52),
 (39000, 51),
 (44000, 49),
 (46000, 47),
 (42000, 46),
 (47000, 45),
 (68000, 43),
 (51000, 43),
 (56000, 40),
 (54000, 39),
 (50000, 39),
 (43000, 38),
 (49000, 37),
 (59000, 36),
 (52000, 33),
 (69000, 32),
 (53000, 32),
 (66000, 31),
 (77000, 30),
 (65000, 30),
 (60000, 30),
 (48000, 30),
 (92000, 28),
 (74000, 28),
 (67000, 28),
 (58000, 27),
 (57000, 26),
 (55000, 26),
 (72000, 25),
 (81000, 24),
 (71000, 24),
 (62000, 24),
 (61000, 24),
 (95000, 23),
 (73000, 23),
 (88000, 22),
 (85000, 22),
 (84000, 22),
 (75000, 22),
 (64000, 22),
 (78000, 21),
 (121000, 20),
 (87000, 20),
 (96000, 19),
 (91000, 19),
 (190000, 18),
 (133000, 18),
 (103000, 18),
 (97000, 18),
 (93000, 18),
 (76000, 18),
 (63000, 18),
 (114000, 17),
 (89000, 17),
 (83000, 17),
 (129000, 15),
 (127000, 15),
 (99000, 15),
 (98000, 15),
 (86000, 15),
 (79000, 15),
 (157000, 14),
 (128000, 14),
 (111000, 14),
 (100000, 14),
 (82000, 14),
 (70000, 14),
 (123000, 13),
 (109000, 13),
 (104000, 13),
 (102000, 13),
 (147000, 12),
 (132000, 12),
 (126000, 12),
 (107000, 12),
 (105000, 12),
 (146000, 11),
 (138000, 11),
 (130000, 11),
 (125000, 11),
 (122000, 11),
 (112000, 11),
 (108000, 11),
 (106000, 11),
 (90000, 11),
 (245000, 10),
 (194000, 10),
 (191000, 10),
 (154000, 10),
 (144000, 10),
 (142000, 10),
 (141000, 10),
 (110000, 10),
 (80000, 10),
 (246000, 9),
 (204000, 9),
 (168000, 9),
 (166000, 9),
 (160000, 9),
 (134000, 9),
 (120000, 9),
 (117000, 9),
 (116000, 9),
 (115000, 9),
 (113000, 9),
 (94000, 9),
 (350000, 8),
 (253000, 8),
 (219000, 8),
 (179000, 8),
 (176000, 8),
 (155000, 8),
 (149000, 8),
 (124000, 8),
 (118000, 8),
 (475000, 7),
 (326000, 7),
 (322000, 7),
 (273000, 7),
 (230000, 7),
 (215000, 7),
 (206000, 7),
 (186000, 7),
 (164000, 7),
 (163000, 7),
 (162000, 7),
 (158000, 7),
 (156000, 7),
 (150000, 7),
 (148000, 7),
 (139000, 7),
 (448000, 6),
 (331000, 6),
 (324000, 6),
 (307000, 6),
 (294000, 6),
 (288000, 6),
 (285000, 6),
 (260000, 6),
 (257000, 6),
 (227000, 6),
 (225000, 6),
 (213000, 6),
 (207000, 6),
 (203000, 6),
 (201000, 6),
 (198000, 6),
 (189000, 6),
 (184000, 6),
 (182000, 6),
 (177000, 6),
 (175000, 6),
 (174000, 6),
 (172000, 6),
 (171000, 6),
 (159000, 6),
 (143000, 6),
 (137000, 6),
 (119000, 6),
 (101000, 6),
 (440000, 5),
 (433000, 5),
 (388000, 5),
 (385000, 5),
 (367000, 5),
 (362000, 5),
 (352000, 5),
 (289000, 5),
 (287000, 5),
 (251000, 5),
 (243000, 5),
 (235000, 5),
 (220000, 5),
 (218000, 5),
 (217000, 5),
 (208000, 5),
 (197000, 5),
 (180000, 5),
 (169000, 5),
 (140000, 5),
 (131000, 5),
 (1586000, 4),
 (1014000, 4),
 (846000, 4),
 (583000, 4),
 (544000, 4),
 (447000, 4),
 (411000, 4),
 (400000, 4),
 (354000, 4),
 (353000, 4),
 (349000, 4),
 (342000, 4),
 (317000, 4),
 (315000, 4),
 (310000, 4),
 (306000, 4),
 (301000, 4),
 (299000, 4),
 (298000, 4),
 (293000, 4),
 (292000, 4),
 (286000, 4),
 (275000, 4),
 (267000, 4),
 (265000, 4),
 (256000, 4),
 (252000, 4),
 (249000, 4),
 (244000, 4),
 (241000, 4),
 (240000, 4),
 (237000, 4),
 (236000, 4),
 (229000, 4),
 (226000, 4),
 (196000, 4),
 (188000, 4),
 (185000, 4),
 (183000, 4),
 (173000, 4),
 (167000, 4),
 (161000, 4),
 (136000, 4),
 (135000, 4),
 (2036000, 3),
 (1191000, 3),
 (1165000, 3),
 (1146000, 3),
 (1125000, 3),
 (1039000, 3),
 (864000, 3),
 (719000, 3),
 (683000, 3),
 (654000, 3),
 (652000, 3),
 (637000, 3),
 (609000, 3),
 (571000, 3),
 (556000, 3),
 (532000, 3),
 (494000, 3),
 (486000, 3),
 (480000, 3),
 (451000, 3),
 (450000, 3),
 (446000, 3),
 (434000, 3),
 (425000, 3),
 (421000, 3),
 (406000, 3),
 (399000, 3),
 (395000, 3),
 (392000, 3),
 (389000, 3),
 (383000, 3),
 (373000, 3),
 (368000, 3),
 (365000, 3),
 (361000, 3),
 (357000, 3),
 (346000, 3),
 (344000, 3),
 (333000, 3),
 (316000, 3),
 (296000, 3),
 (283000, 3),
 (281000, 3),
 (280000, 3),
 (278000, 3),
 (271000, 3),
 (264000, 3),
 (263000, 3),
 (262000, 3),
 (259000, 3),
 (250000, 3),
 (242000, 3),
 (234000, 3),
 (224000, 3),
 (222000, 3),
 (212000, 3),
 (211000, 3),
 (202000, 3),
 (200000, 3),
 (193000, 3),
 (192000, 3),
 (187000, 3),
 (181000, 3),
 (170000, 3),
 (165000, 3),
 (152000, 3),
 (151000, 3),
 (145000, 3),
 (17772000, 2),
 (15674000, 2),
 (15436000, 2),
 (3659000, 2),
 (2494000, 2),
 (2426000, 2),
 (2361000, 2),
 (2301000, 2),
 (1948000, 2),
 (1908000, 2),
 (1599000, 2),
 (1410000, 2),
 (1294000, 2),
 (1284000, 2),
 (1222000, 2),
 (1212000, 2),
 (1195000, 2),
 (1096000, 2),
 (1085000, 2),
 (1053000, 2),
 (1016000, 2),
 (1011000, 2),
 (1008000, 2),
 (984000, 2),
 (906000, 2),
 (902000, 2),
 (871000, 2),
 (866000, 2),
 (865000, 2),
 (831000, 2),
 (826000, 2),
 (804000, 2),
 (775000, 2),
 (772000, 2),
 (750000, 2),
 (712000, 2),
 (711000, 2),
 (705000, 2),
 (695000, 2),
 (682000, 2),
 (676000, 2),
 (674000, 2),
 (669000, 2),
 (668000, 2),
 (665000, 2),
 (656000, 2),
 (651000, 2),
 (647000, 2),
 (634000, 2),
 (599000, 2),
 (596000, 2),
 (570000, 2),
 (562000, 2),
 (541000, 2),
 (540000, 2),
 (538000, 2),
 (533000, 2),
 (528000, 2),
 (524000, 2),
 (516000, 2),
 (515000, 2),
 (508000, 2),
 (497000, 2),
 (496000, 2),
 (491000, 2),
 (482000, 2),
 (472000, 2),
 (469000, 2),
 (467000, 2),
 (466000, 2),
 (455000, 2),
 (453000, 2),
 (436000, 2),
 (423000, 2),
 (422000, 2),
 (420000, 2),
 (417000, 2),
 (414000, 2),
 (413000, 2),
 (409000, 2),
 (407000, 2),
 (405000, 2),
 (390000, 2),
 (386000, 2),
 (377000, 2),
 (371000, 2),
 (363000, 2),
 (358000, 2),
 (351000, 2),
 (347000, 2),
 (345000, 2),
 (340000, 2),
 (336000, 2),
 (335000, 2),
 (334000, 2),
 (329000, 2),
 (325000, 2),
 (321000, 2),
 (318000, 2),
 (313000, 2),
 (311000, 2),
 (309000, 2),
 (305000, 2),
 (304000, 2),
 (302000, 2),
 (300000, 2),
 (297000, 2),
 (295000, 2),
 (284000, 2),
 (282000, 2),
 (276000, 2),
 (268000, 2),
 (266000, 2),
 (261000, 2),
 (247000, 2),
 (233000, 2),
 (232000, 2),
 (231000, 2),
 (228000, 2),
 (221000, 2),
 (216000, 2),
 (214000, 2),
 (210000, 2),
 (205000, 2),
 (199000, 2),
 (178000, 2),
 (43165000, 1),
 (21696000, 1),
 (15158000, 1),
 (14693000, 1),
 (14131000, 1),
 (12343000, 1),
 (11473000, 1),
 (10576000, 1),
 (8517000, 1),
 (6686000, 1),
 (6556000, 1),
 (6296000, 1),
 (6153000, 1),
 (5935000, 1),
 (5476000, 1),
 (5105000, 1),
 (4911000, 1),
 (4843000, 1),
 (4682000, 1),
 (4281000, 1),
 (4027000, 1),
 (3895000, 1),
 (3799000, 1),
 (3656000, 1),
 (3654000, 1),
 (3610000, 1),
 (3595000, 1),
 (3591000, 1),
 (3482000, 1),
 (3452000, 1),
 (3266000, 1),
 (3212000, 1),
 (3194000, 1),
 (3053000, 1),
 (3029000, 1),
 (2916000, 1),
 (2909000, 1),
 (2834000, 1),
 (2807000, 1),
 (2752000, 1),
 (2736000, 1),
 (2712000, 1),
 (2711000, 1),
 (2700000, 1),
 (2666000, 1),
 (2625000, 1),
 (2562000, 1),
 (2495000, 1),
 (2464000, 1),
 (2307000, 1),
 (2272000, 1),
 (2214000, 1),
 (2194000, 1),
 (2178000, 1),
 (2097000, 1),
 (2073000, 1),
 (2057000, 1),
 (2040000, 1),
 (2006000, 1),
 (1980000, 1),
 (1971000, 1),
 (1967000, 1),
 (1966000, 1),
 (1937000, 1),
 (1929000, 1),
 (1900000, 1),
 (1885000, 1),
 (1883000, 1),
 (1867000, 1),
 (1865000, 1),
 (1789000, 1),
 (1775000, 1),
 (1773000, 1),
 (1743000, 1),
 (1698000, 1),
 (1695000, 1),
 (1673000, 1),
 (1644000, 1),
 (1625000, 1),
 (1616000, 1),
 (1592000, 1),
 (1582000, 1),
 (1577000, 1),
 (1572000, 1),
 (1562000, 1),
 (1473000, 1),
 (1459000, 1),
 (1447000, 1),
 (1441000, 1),
 (1406000, 1),
 (1404000, 1),
 (1373000, 1),
 (1338000, 1),
 (1328000, 1),
 (1326000, 1),
 (1308000, 1),
 (1307000, 1),
 (1300000, 1),
 (1296000, 1),
 (1288000, 1),
 (1271000, 1),
 (1266000, 1),
 (1259000, 1),
 (1253000, 1),
 (1251000, 1),
 (1230000, 1),
 (1218000, 1),
 (1216000, 1),
 (1208000, 1),
 (1174000, 1),
 (1162000, 1),
 (1157000, 1),
 (1154000, 1),
 (1150000, 1),
 (1130000, 1),
 (1129000, 1),
 (1120000, 1),
 (1116000, 1),
 (1108000, 1),
 (1100000, 1),
 (1091000, 1),
 (1083000, 1),
 (1074000, 1),
 (1073000, 1),
 (1063000, 1),
 (1055000, 1),
 (1054000, 1),
 (1044000, 1),
 (1041000, 1),
 (1040000, 1),
 (1038000, 1),
 (1024000, 1),
 (1012000, 1),
 (1007000, 1),
 (1006000, 1),
 (1005000, 1),
 (1004000, 1),
 (1002000, 1),
 (982000, 1),
 (979000, 1),
 (978000, 1),
 (976000, 1),
 (969000, 1),
 (967000, 1),
 (965000, 1),
 (950000, 1),
 (944000, 1),
 (941000, 1),
 (936000, 1),
 (935000, 1),
 (931000, 1),
 (926000, 1),
 (921000, 1),
 (920000, 1),
 (914000, 1),
 (912000, 1),
 (910000, 1),
 (907000, 1),
 (904000, 1),
 (901000, 1),
 (895000, 1),
 (893000, 1),
 (890000, 1),
 (886000, 1),
 (882000, 1),
 (874000, 1),
 (872000, 1),
 (857000, 1),
 (854000, 1),
 (841000, 1),
 (838000, 1),
 (829000, 1),
 (828000, 1),
 (822000, 1),
 (815000, 1),
 (814000, 1),
 (805000, 1),
 (803000, 1),
 (801000, 1),
 (798000, 1),
 (794000, 1),
 (793000, 1),
 (787000, 1),
 (782000, 1),
 (780000, 1),
 (779000, 1),
 (769000, 1),
 (765000, 1),
 (760000, 1),
 (759000, 1),
 (755000, 1),
 (752000, 1),
 (749000, 1),
 (746000, 1),
 (739000, 1),
 (736000, 1),
 (732000, 1),
 (729000, 1),
 (724000, 1),
 (720000, 1),
 (718000, 1),
 (690000, 1),
 (688000, 1),
 (687000, 1),
 (681000, 1),
 (679000, 1),
 (677000, 1),
 (672000, 1),
 (670000, 1),
 (667000, 1),
 (660000, 1),
 (659000, 1),
 (657000, 1),
 (649000, 1),
 (646000, 1),
 (645000, 1),
 (644000, 1),
 (641000, 1),
 (635000, 1),
 (631000, 1),
 (630000, 1),
 (629000, 1),
 (628000, 1),
 (626000, 1),
 (624000, 1),
 (622000, 1),
 (616000, 1),
 (610000, 1),
 (602000, 1),
 (593000, 1),
 (590000, 1),
 (589000, 1),
 (588000, 1),
 (582000, 1),
 (577000, 1),
 (573000, 1),
 (567000, 1),
 (563000, 1),
 (561000, 1),
 (560000, 1),
 (553000, 1),
 (551000, 1),
 (550000, 1),
 (549000, 1),
 (547000, 1),
 (545000, 1),
 (537000, 1),
 (536000, 1),
 (527000, 1),
 (525000, 1),
 (522000, 1),
 (521000, 1),
 (520000, 1),
 (519000, 1),
 (512000, 1),
 (511000, 1),
 (509000, 1),
 (506000, 1),
 (502000, 1),
 (500000, 1),
 (495000, 1),
 (481000, 1),
 (477000, 1),
 (474000, 1),
 (470000, 1),
 (464000, 1),
 (461000, 1),
 (459000, 1),
 (457000, 1),
 (454000, 1),
 (452000, 1),
 (449000, 1),
 (444000, 1),
 (443000, 1),
 (441000, 1),
 (439000, 1),
 (438000, 1),
 (435000, 1),
 (429000, 1),
 (426000, 1),
 (418000, 1),
 (416000, 1),
 (412000, 1),
 (408000, 1),
 (404000, 1),
 (398000, 1),
 (397000, 1),
 (396000, 1),
 (394000, 1),
 (391000, 1),
 (384000, 1),
 (382000, 1),
 (379000, 1),
 (376000, 1),
 (375000, 1),
 (366000, 1),
 (360000, 1),
 (356000, 1),
 (348000, 1),
 (343000, 1),
 (339000, 1),
 (338000, 1),
 (337000, 1),
 (332000, 1),
 (330000, 1),
 (328000, 1),
 (327000, 1),
 (320000, 1),
 (319000, 1),
 (314000, 1),
 (308000, 1),
 (291000, 1),
 (290000, 1),
 (279000, 1),
 (277000, 1),
 (272000, 1),
 (270000, 1),
 (258000, 1),
 (254000, 1),
 (248000, 1),
 (239000, 1),
 (238000, 1),
 (223000, 1),
 (209000, 1),
 (195000, 1)]

In [27]:
%%sql

SELECT
    FLOOR(transaction_amount / 100) * 100 AS bin,
    COUNT(*) AS frequency
FROM
    transactions
GROUP BY
    bin
ORDER BY
    frequency DESC;

 * sqlite://
Done.

[(0, 1823),
 (100, 1434),
 (200, 1355),
 (300, 742),
 (500, 715),
 (400, 529),
 (1000, 416),
 (600, 350),
 (700, 319),
 (800, 255),
 (900, 198),
 (1200, 184),
 (1500, 166),
 (2000, 143),
 (1100, 143),
 (1300, 130),
 (1400, 128),
 (1700, 108),
 (1600, 103),
 (1800, 94),
 (1900, 84),
 (2500, 73),
 (2200, 69),
 (2100, 62),
 (3000, 60),
 (2400, 54),
 (2300, 50),
 (5000, 40),
 (2600, 38),
 (2700, 37),
 (2900, 34),
 (2800, 34),
 (3300, 33),
 (3200, 33),
 (4000, 29),
 (3400, 29),
 (3600, 26),
 (3500, 26),
 (3100, 26),
 (3900, 23),
 (3800, 23),
 (3700, 20),
 (4100, 19),
 (5900, 18),
 (4500, 18),
 (10000, 17),
 (5700, 16),
 (4700, 16),
 (4300, 16),
 (4200, 16),
 (4900, 15),
 (4400, 15),
 (100000, 12),
 (20000, 12),
 (6000, 12),
 (5200, 12),
 (5500, 11),
 (53000, 10),
 (6300, 10),
 (25000, 9),
 (15000, 9),
 (8900, 9),
 (7500, 9),
 (5800, 9),
 (5400, 9),
 (5100, 9),
 (7000, 8),
 (6900, 8),
 (6400, 8),
 (6200, 8),
 (5300, 8),
 (6800, 7),
 (6600, 7),
 (6100, 7),
 (50000, 6),
 (10800, 6),
 (8500, 6),
 (8000, 6),
 (7900, 6),
 (7200, 6),
 (4800, 6),
 (4600, 6),
 (40000, 5),
 (18000, 5),
 (11500, 5),
 (8200, 5),
 (7700, 5),
 (7400, 5),
 (7100, 5),
 (6700, 5),
 (6500, 5),
 (63000, 4),
 (16000, 4),
 (14500, 4),
 (14400, 4),
 (13200, 4),
 (11300, 4),
 (11200, 4),
 (9800, 4),
 (9700, 4),
 (9600, 4),
 (8800, 4),
 (8700, 4),
 (8600, 4),
 (8400, 4),
 (8300, 4),
 (7600, 4),
 (30000, 3),
 (15900, 3),
 (13000, 3),
 (12200, 3),
 (12000, 3),
 (10900, 3),
 (10500, 3),
 (10400, 3),
 (10100, 3),
 (9500, 3),
 (9000, 3),
 (5600, 3),
 (60000, 2),
 (47300, 2),
 (45000, 2),
 (35000, 2),
 (27900, 2),
 (24000, 2),
 (22600, 2),
 (19000, 2),
 (18900, 2),
 (17500, 2),
 (16200, 2),
 (15500, 2),
 (15100, 2),
 (13800, 2),
 (13700, 2),
 (13600, 2),
 (13500, 2),
 (12600, 2),
 (11800, 2),
 (11400, 2),
 (10700, 2),
 (9900, 2),
 (9400, 2),
 (9200, 2),
 (7800, 2),
 (7300, 2),
 (137800, 1),
 (135000, 1),
 (82300, 1),
 (80000, 1),
 (79500, 1),
 (75000, 1),
 (73000, 1),
 (69800, 1),
 (69400, 1),
 (66200, 1),
 (64600, 1),
 (64000, 1),
 (61500, 1),
 (58700, 1),
 (57500, 1),
 (55000, 1),
 (54200, 1),
 (54000, 1),
 (53800, 1),
 (51700, 1),
 (50900, 1),
 (50100, 1),
 (49900, 1),
 (47200, 1),
 (45900, 1),
 (43700, 1),
 (43100, 1),
 (42500, 1),
 (41600, 1),
 (41000, 1),
 (40500, 1),
 (39200, 1),
 (37600, 1),
 (36500, 1),
 (35900, 1),
 (33000, 1),
 (32900, 1),
 (32500, 1),
 (31900, 1),
 (31400, 1),
 (30900, 1),
 (30600, 1),
 (30300, 1),
 (30200, 1),
 (29600, 1),
 (29400, 1),
 (29000, 1),
 (28700, 1),
 (27400, 1),
 (26900, 1),
 (26500, 1),
 (25200, 1),
 (25100, 1),
 (24500, 1),
 (24300, 1),
 (23300, 1),
 (23100, 1),
 (23000, 1),
 (22500, 1),
 (22400, 1),
 (21500, 1),
 (21200, 1),
 (21000, 1),
 (20800, 1),
 (20400, 1),
 (20300, 1),
 (19700, 1),
 (19200, 1),
 (19100, 1),
 (18700, 1),
 (18200, 1),
 (17900, 1),
 (17800, 1),
 (17600, 1),
 (17200, 1),
 (17000, 1),
 (16800, 1),
 (16100, 1),
 (15700, 1),
 (15400, 1),
 (14700, 1),
 (14600, 1),
 (14300, 1),
 (14100, 1),
 (14000, 1),
 (13400, 1),
 (13300, 1),
 (13100, 1),
 (12700, 1),
 (12500, 1),
 (12300, 1),
 (12100, 1),
 (11700, 1),
 (11100, 1),
 (10600, 1),
 (10300, 1),
 (10200, 1),
 (9300, 1),
 (9100, 1),
 (8100, 1)]

There are some customers who have a karge account balance and some customers who have made transactions of large amounts. in this sample dataset, this type of customers are very little. So we will segment customers based on:

1. Majority Customers:
This category encompasses the majority of the customers and represents the segment of customers that are highly valued by the institution.
Criteria:
Account Balance: Falling within the range of 0 to 8000 INR.
Average Transaction Amount: Ranging from 0 to 900 INR.
2. Valued Customers:
This segment comprises individuals who are strategically targeted for acquisition and expansion efforts by the bank.
Criteria:
Account Balance: Ranging from 8001 to 160,000 INR.
Average Transaction Amount: Spanning from 901 to 100,000 INR.
3. Rare Customers:
These customers possess notably higher financial standing and transactional activity compared to other segments.
Criteria:
Account Balance: Exceeding 160,000 INR.
Average Transaction Amount: Exceeding 100,000 INR.

In [28]:
%%sql

CREATE TEMPORARY TABLE temp_majority_customers AS
SELECT t.custID
FROM transactions t
JOIN (
    SELECT custID, transaction_amount
    FROM transactions
    GROUP BY custID
) AS transactions ON t.custID = transactions.custID
WHERE t.account_balance BETWEEN 0 AND 8000
  AND transactions.transaction_amount BETWEEN 0 AND 900;

 * sqlite://
Done.

[]

In [29]:
%sql SELECT * FROM temp_majority_customers;

 * sqlite://
Done.

[('C7126560',),
 ('C6638934',),
 ('C8334633',),
 ('C8967349',),
 ('C6121429',),
 ('C4511244',),
 ('C7018081',),
 ('C5521085',),
 ('C5652115',),
 ('C7017047',),
 ('C5120181',),
 ('C7923455',),
 ('C3526781',),
 ('C6427687',),
 ('C3815912',),
 ('C4237628',),
 ('C3932235',),
 ('C5623837',),
 ('C1130989',),
 ('C2016883',),
 ('C5930363',),
 ('C8342660',),
 ('C5931634',),
 ('C6030281',),
 ('C4226473',),
 ('C3232257',),
 ('C7833983',),
 ('C4974913',),
 ('C7317029',),
 ('C4232113',),
 ('C6932571',),
 ('C4117761',),
 ('C5027040',),
 ('C2417034',),
 ('C7614444',),
 ('C7226281',),
 ('C1272724',),
 ('C6322261',),
 ('C6943550',),
 ('C7742540',),
 ('C7231945',),
 ('C2215655',),
 ('C6125425',),
 ('C4023754',),
 ('C8214849',),
 ('C1315664',),
 ('C7537492',),
 ('C1931276',),
 ('C4138629',),
 ('C5633923',),
 ('C3720487',),
 ('C2440683',),
 ('C6297162',),
 ('C7534237',),
 ('C3881215',),
 ('C1726754',),
 ('C8121828',),
 ('C7034179',),
 ('C4830619',),
 ('C7541566',),
 ('C7527049',),
 ('C6058483',),
 ('C2811892',),
 ('C7823561',),
 ('C3727411',),
 ('C5136863',),
 ('C2434983',),
 ('C4531588',),
 ('C6230681',),
 ('C8091089',),
 ('C5312019',),
 ('C7621186',),
 ('C7472456',),
 ('C3117918',),
 ('C4636775',),
 ('C6952840',),
 ('C3151961',),
 ('C7118840',),
 ('C4111528',),
 ('C4241947',),
 ('C3537555',),
 ('C4637288',),
 ('C7358678',),
 ('C6533711',),
 ('C8732168',),
 ('C8028147',),
 ('C8019992',),
 ('C1230589',),
 ('C5484469',),
 ('C7719580',),
 ('C7621040',),
 ('C2640757',),
 ('C1531843',),
 ('C8232987',),
 ('C6386783',),
 ('C7510323',),
 ('C3423268',),
 ('C6117158',),
 ('C8625213',),
 ('C8437679',),
 ('C5622325',),
 ('C7716767',),
 ('C4139017',),
 ('C3156985',),
 ('C5213349',),
 ('C3667192',),
 ('C1114311',),
 ('C6217716',),
 ('C2314214',),
 ('C7799665',),
 ('C6023875',),
 ('C4632060',),
 ('C8722855',),
 ('C5429457',),
 ('C5826167',),
 ('C2528724',),
 ('C1617685',),
 ('C3436881',),
 ('C2431087',),
 ('C7938756',),
 ('C7014439',),
 ('C8974331',),
 ('C5520971',),
 ('C8013820',),
 ('C1523527',),
 ('C6440730',),
 ('C4925560',),
 ('C5265862',),
 ('C1223051',),
 ('C2519987',),
 ('C2419958',),
 ('C3830864',),
 ('C3211482',),
 ('C5832489',),
 ('C5122937',),
 ('C9042919',),
 ('C1842235',),
 ('C6835078',),
 ('C1137841',),
 ('C7626891',),
 ('C3520148',),
 ('C3615151',),
 ('C6135027',),
 ('C7727880',),
 ('C5224187',),
 ('C8774171',),
 ('C4834786',),
 ('C1798829',),
 ('C8439888',),
 ('C1240911',),
 ('C4671617',),
 ('C3041042',),
 ('C4822239',),
 ('C4833337',),
 ('C7314039',),
 ('C7197559',),
 ('C8916922',),
 ('C1239292',),
 ('C1631387',),
 ('C5416434',),
 ('C7819454',),
 ('C3622138',),
 ('C5520512',),
 ('C4940752',),
 ('C5512786',),
 ('C2410073',),
 ('C1823447',),
 ('C2733313',),
 ('C4435232',),
 ('C2939112',),
 ('C3629920',),
 ('C6724814',),
 ('C7320989',),
 ('C6834271',),
 ('C3714911',),
 ('C1484482',),
 ('C8842071',),
 ('C6580983',),
 ('C5141527',),
 ('C4317475',),
 ('C4022457',),
 ('C2936081',),
 ('C3337238',),
 ('C8717971',),
 ('C1537725',),
 ('C1733675',),
 ('C4639027',),
 ('C6611233',),
 ('C1533067',),
 ('C8035883',),
 ('C4830970',),
 ('C4231943',),
 ('C6436276',),
 ('C6042768',),
 ('C3316423',),
 ('C4531573',),
 ('C3437531',),
 ('C5234622',),
 ('C4823350',),
 ('C1117456',),
 ('C1140325',),
 ('C3929930',),
 ('C4571043',),
 ('C8787378',),
 ('C4130286',),
 ('C3642867',),
 ('C2637514',),
 ('C6611630',),
 ('C7825224',),
 ('C8126585',),
 ('C4511448',),
 ('C6933121',),
 ('C6430275',),
 ('C7413354',),
 ('C3883837',),
 ('C5115339',),
 ('C5420723',),
 ('C2712189',),
 ('C8426861',),
 ('C4542572',),
 ('C5121986',),
 ('C6013590',),
 ('C4311779',),
 ('C4489370',),
 ('C8010062',),
 ('C3218322',),
 ('C8222136',),
 ('C5832547',),
 ('C5413453',),
 ('C6312180',),
 ('C7633725',),
 ('C4420933',),
 ('C8236916',),
 ('C7836078',),
 ('C3130260',),
 ('C8317970',),
 ('C1025072',),
 ('C7439786',),
 ('C8631471',),
 ('C4940975',),
 ('C5026229',),
 ('C5441169',),
 ('C5427868',),
 ('C1325238',),
 ('C8012143',),
 ('C4725480',),
 ('C6141164',),
 ('C4423046',),
 ('C3926088',),
 ('C2937169',),
 ('C2914021',),
 ('C2341534',),
 ('C6924238',),
 ('C7811420',),
 ('C8024481',),
 ('C7619817',),
 ('C2212271',),
 ('C1437438',),
 ('C8620331',),
 ('C5187988',),
 ('C8232182',),
 ('C4442276',),
 ('C2234979',),
 ('C4227546',),
 ('C1840328',),
 ('C2625881',),
 ('C6911332',),
 ('C6756914',),
 ('C8036766',),
 ('C2617556',),
 ('C6111116',),
 ('C2211316',),
 ('C2659925',),
 ('C8023588',),
 ('C8241932',),
 ('C2332243',),
 ('C7286424',),
 ('C3411131',),
 ('C7521623',),
 ('C6429476',),
 ('C3417486',),
 ('C3644582',),
 ('C5724336',),
 ('C7124375',),
 ('C3937587',),
 ('C2885642',),
 ('C5811561',),
 ('C6273931',),
 ('C5228561',),
 ('C4615780',),
 ('C6874988',),
 ('C3341142',),
 ('C6435650',),
 ('C6279150',),
 ('C7644618',),
 ('C2610334',),
 ('C1920379',),
 ('C5141632',),
 ('C6427881',),
 ('C1625464',),
 ('C1039686',),
 ('C8226537',),
 ('C4913413',),
 ('C1017990',),
 ('C8236071',),
 ('C8727430',),
 ('C6731139',),
 ('C5829171',),
 ('C6728325',),
 ('C6233669',),
 ('C2920373',),
 ('C8916455',),
 ('C2666166',),
 ('C6138478',),
 ('C3520147',),
 ('C4312637',),
 ('C2137431',),
 ('C8423224',),
 ('C4311142',),
 ('C6430290',),
 ('C9016511',),
 ('C4719492',),
 ('C2919456',),
 ('C7126155',),
 ('C6818531',),
 ('C1541315',),
 ('C8522884',),
 ('C6940113',),
 ('C7817526',),
 ('C4735289',),
 ('C8326751',),
 ('C7640285',),
 ('C4451291',),
 ('C5026374',),
 ('C6644760',),
 ('C1915719',),
 ('C6737715',),
 ('C6831025',),
 ('C4399428',),
 ('C5366765',),
 ('C7924846',),
 ('C2131123',),
 ('C5823116',),
 ('C5342125',),
 ('C7228365',),
 ('C6227520',),
 ('C3773516',),
 ('C2515142',),
 ('C3931068',),
 ('C9033931',),
 ('C1322458',),
 ('C7034211',),
 ('C2314123',),
 ('C1913183',),
 ('C5413749',),
 ('C6941581',),
 ('C7144634',),
 ('C7719157',),
 ('C3310513',),
 ('C2522945',),
 ('C6418333',),
 ('C1837988',),
 ('C6150741',),
 ('C4041563',),
 ('C8622547',),
 ('C1012018',),
 ('C2222179',),
 ('C6621988',),
 ('C2410646',),
 ('C4816845',),
 ('C2639840',),
 ('C5920026',),
 ('C4220257',),
 ('C7141275',),
 ('C2210013',),
 ('C3533734',),
 ('C4824089',),
 ('C8725538',),
 ('C8326227',),
 ('C7181057',),
 ('C5219833',),
 ('C1927615',),
 ('C1841937',),
 ('C5549321',),
 ('C1627586',),
 ('C5429372',),
 ('C6223952',),
 ('C8634985',),
 ('C7127327',),
 ('C5695037',),
 ('C8534781',),
 ('C6836141',),
 ('C5842850',),
 ('C5728662',),
 ('C6212444',),
 ('C1513057',),
 ('C8710511',),
 ('C5146692',),
 ('C5352126',),
 ('C7643575',),
 ('C2112571',),
 ('C8531165',),
 ('C7713359',),
 ('C7310429',),
 ('C6726881',),
 ('C5525257',),
 ('C6334337',),
 ('C3635874',),
 ('C8728360',),
 ('C1614216',),
 ('C5933811',),
 ('C1224039',),
 ('C6164288',),
 ('C7426269',),
 ('C6429588',),
 ('C7027880',),
 ('C5221490',),
 ('C5921672',),
 ('C7025779',),
 ('C8356370',),
 ('C2829339',),
 ('C5722235',),
 ('C2071659',),
 ('C3021024',),
 ('C2023520',),
 ('C8528078',),
 ('C5972791',),
 ('C6312279',),
 ('C3719620',),
 ('C8728171',),
 ('C4953354',),
 ('C8740150',),
 ('C3816873',),
 ('C5835461',),
 ('C5127830',),
 ('C1341852',),
 ('C3129361',),
 ('C6427390',),
 ('C3517643',),
 ('C5916240',),
 ('C4121046',),
 ('C8624817',),
 ('C7538263',),
 ('C3813623',),
 ('C1742871',),
 ('C5226864',),
 ('C5619742',),
 ('C1365872',),
 ('C4317975',),
 ('C7733072',),
 ('C8112148',),
 ('C2133676',),
 ('C7789360',),
 ('C6239469',),
 ('C5336819',),
 ('C8116022',),
 ('C7125044',),
 ('C6918787',),
 ('C7235713',),
 ('C3120787',),
 ('C3326659',),
 ('C8090937',),
 ('C2630762',),
 ('C4216260',),
 ('C2221420',),
 ('C7013823',),
 ('C9077783',),
 ('C4912920',),
 ('C1426789',),
 ('C6728244',),
 ('C4184335',),
 ('C7341622',),
 ('C8524541',),
 ('C3622979',),
 ('C2426546',),
 ('C5293239',),
 ('C1521245',),
 ('C2533092',),
 ('C1012421',),
 ('C9018377',),
 ('C5740667',),
 ('C2417165',),
 ('C8436658',),
 ('C2219974',),
 ('C4320460',),
 ('C2826686',),
 ('C1233480',),
 ('C1783691',),
 ('C3428376',),
 ('C8615530',),
 ('C4041887',),
 ('C1731876',),
 ('C7524371',),
 ('C7833469',),
 ('C3719622',),
 ('C6286520',),
 ('C1818386',),
 ('C1438572',),
 ('C8832277',),
 ('C8112231',),
 ('C8612344',),
 ('C7235242',),
 ('C2551047',),
 ('C5818120',),
 ('C5826472',),
 ('C3635737',),
 ('C6540679',),
 ('C6237347',),
 ('C8431473',),
 ('C3532357',),
 ('C4529190',),
 ('C2733155',),
 ('C4525944',),
 ('C6520557',),
 ('C2412190',),
 ('C4325337',),
 ('C4280978',),
 ('C1525214',),
 ('C7115155',),
 ('C4588828',),
 ('C5528964',),
 ('C2937217',),
 ('C1441432',),
 ('C2910858',),
 ('C5642384',),
 ('C6033981',),
 ('C2013547',),
 ('C2112160',),
 ('C5120651',),
 ('C3141686',),
 ('C8632318',),
 ('C1087336',),
 ('C7039318',),
 ('C2612884',),
 ('C7638116',),
 ('C3216013',),
 ('C7433034',),
 ('C9030522',),
 ('C3371683',),
 ('C2916042',),
 ('C5338712',),
 ('C4220626',),
 ('C3228177',),
 ('C3611019',),
 ('C7219261',),
 ('C4633665',),
 ('C8633850',),
 ('C1197120',),
 ('C8924075',),
 ('C3437888',),
 ('C3524960',),
 ('C4113880',),
 ('C5837963',),
 ('C8521423',),
 ('C8893743',),
 ('C9028536',),
 ('C1633954',),
 ('C5419292',),
 ('C5526385',),
 ('C9010384',),
 ('C3015216',),
 ('C8216590',),
 ('C7618044',),
 ('C8826450',),
 ('C6038428',),
 ('C1910113',),
 ('C4319168',),
 ('C2138334',),
 ('C6937436',),
 ('C8530153',),
 ('C2319074',),
 ('C2034246',),
 ('C7234813',),
 ('C4032264',),
 ('C3513413',),
 ('C4126343',),
 ('C5022226',),
 ('C6550858',),
 ('C6928168',),
 ('C2523841',),
 ('C7229820',),
 ('C4021513',),
 ('C2892237',),
 ('C7427238',),
 ('C8318048',),
 ('C5518942',),
 ('C5326215',),
 ('C8329221',),
 ('C5528135',),
 ('C3625160',),
 ('C1037046',),
 ('C6639430',),
 ('C1795919',),
 ('C6431222',),
 ('C5641871',),
 ('C3129666',),
 ('C5425241',),
 ('C5734584',),
 ('C3125432',),
 ('C1315073',),
 ('C6132481',),
 ('C3735765',),
 ('C6816576',),
 ('C6520960',),
 ('C1124328',),
 ('C8937237',),
 ('C7015811',),
 ('C3524891',),
 ('C3318844',),
 ('C7221054',),
 ('C5557460',),
 ('C1721830',),
 ('C4923073',),
 ('C7930692',),
 ('C5836050',),
 ('C8128570',),
 ('C1130912',),
 ('C8522115',),
 ('C5141156',),
 ('C6611970',),
 ('C4998521',),
 ('C7213550',),
 ('C5633061',),
 ('C7868075',),
 ('C6897067',),
 ('C4310192',),
 ('C5089384',),
 ('C3379321',),
 ('C3626921',),
 ('C1644729',),
 ('C3733961',),
 ('C4426455',),
 ('C5228585',),
 ('C2111019',),
 ('C2310617',),
 ('C5515749',),
 ('C6229061',),
 ('C3240524',),
 ('C4930628',),
 ('C4715819',),
 ('C4837990',),
 ('C1423822',),
 ('C2234990',),
 ('C6941919',),
 ('C3541117',),
 ('C6641160',),
 ('C8439987',),
 ('C5717871',),
 ('C7934141',),
 ('C6226592',),
 ('C7938339',),
 ('C3417429',),
 ('C4731970',),
 ('C7730518',),
 ('C6011556',),
 ('C8634959',),
 ('C8725892',),
 ('C5814742',),
 ('C5620739',),
 ('C8424032',),
 ('C2149459',),
 ('C4611361',),
 ('C8674413',),
 ('C1583719',),
 ('C2537431',),
 ('C8417830',),
 ('C8230229',),
 ('C6222220',),
 ('C5924321',),
 ('C7414320',),
 ('C3340457',),
 ('C1512130',),
 ('C1612477',),
 ('C1835653',),
 ('C5330385',),
 ('C8535429',),
 ('C5212768',),
 ('C5621162',),
 ('C1737735',),
 ('C4439313',),
 ('C6457288',),
 ('C1128982',),
 ('C2710115',),
 ('C6913338',),
 ('C5833914',),
 ('C6929759',),
 ('C4724261',),
 ('C5812786',),
 ('C2911350',),
 ('C2035189',),
 ('C4611373',),
 ('C4631539',),
 ('C5323923',),
 ('C6218612',),
 ('C1129844',),
 ('C5819285',),
 ('C3038054',),
 ('C1430634',),
 ('C8028650',),
 ('C2412431',),
 ('C5624241',),
 ('C2847626',),
 ('C5218943',),
 ('C8439487',),
 ('C7476430',),
 ('C6572125',),
 ('C6122247',),
 ('C6241628',),
 ('C3527914',),
 ('C1718849',),
 ('C1167282',),
 ('C7311379',),
 ('C2792219',),
 ('C1223536',),
 ('C4930324',),
 ('C2021440',),
 ('C9048273',),
 ('C4640755',),
 ('C4035826',),
 ('C1110530',),
 ('C2556267',),
 ('C2541064',),
 ('C7934522',),
 ('C5930770',),
 ('C3632063',),
 ('C5339343',),
 ('C1821281',),
 ('C5814684',),
 ('C7983119',),
 ('C8456564',),
 ('C2320922',),
 ('C6168241',),
 ('C8614463',),
 ('C8410181',),
 ('C4723717',),
 ('C2378083',),
 ('C7425679',),
 ('C6235070',),
 ('C7119129',),
 ('C2415389',),
 ('C8040284',),
 ('C1037392',),
 ('C3027026',),
 ('C2229063',),
 ('C5089959',),
 ('C8423388',),
 ('C4125436',),
 ('C2887830',),
 ('C4617217',),
 ('C5320266',),
 ('C7029543',),
 ('C7326818',),
 ('C2013370',),
 ('C3219357',),
 ('C8536982',),
 ('C2433477',),
 ('C8539636',),
 ('C7835349',),
 ('C2364643',),
 ('C8726513',),
 ('C3864176',),
 ('C2412338',),
 ('C2233913',),
 ('C8531437',),
 ('C4341556',),
 ('C3183741',),
 ('C8970942',),
 ('C3419269',),
 ('C4652942',),
 ('C6893786',),
 ('C1018170',),
 ('C4231075',),
 ('C8213218',),
 ('C3617329',),
 ('C8427547',),
 ('C6724376',),
 ('C1618162',),
 ('C2841268',),
 ('C5587886',),
 ('C4944468',),
 ('C9034713',),
 ('C4336141',),
 ('C5225811',),
 ('C9011690',),
 ('C3828746',),
 ('C2485015',),
 ('C2133852',),
 ('C7742591',),
 ('C3722226',),
 ('C1519311',),
 ('C3913437',),
 ('C5870974',),
 ('C3933062',),
 ('C1225670',),
 ('C2339730',),
 ('C5212544',),
 ('C5228557',),
 ('C6112647',),
 ('C2514557',),
 ('C1235685',),
 ('C8015770',),
 ('C7940669',),
 ('C5345421',),
 ('C6142672',),
 ('C5222234',),
 ('C8239482',),
 ('C4636948',),
 ('C8614823',),
 ('C3631991',),
 ('C3337683',),
 ('C4111131',),
 ('C4430323',),
 ('C8625213',),
 ('C6491339',),
 ('C5035273',),
 ('C5714289',),
 ('C8519581',),
 ('C2839284',),
 ('C3329026',),
 ('C3427791',),
 ('C4387422',),
 ('C5849281',),
 ('C8334917',),
 ('C7131489',),
 ('C2037622',),
 ('C8521750',),
 ('C8718382',),
 ('C2234115',),
 ('C8537661',),
 ('C1817251',),
 ('C5711148',),
 ('C4480668',),
 ('C5130939',),
 ('C7081690',),
 ('C3642332',),
 ('C8622859',),
 ('C5614779',),
 ('C1022714',),
 ('C7619222',),
 ('C5434950',),
 ('C6519565',),
 ('C6396645',),
 ('C7612518',),
 ('C3918180',),
 ('C3910664',),
 ('C5228485',),
 ('C7930554',),
 ('C5034180',),
 ('C1816013',),
 ('C6024486',),
 ('C4421240',),
 ('C4527873',),
 ('C7825164',),
 ('C2332715',),
 ('C6234182',),
 ('C1330675',),
 ('C6935990',),
 ('C7431664',),
 ('C7623371',),
 ('C1231488',),
 ('C7318261',),
 ('C2119776',),
 ('C6135947',),
 ('C7731483',),
 ('C5930770',),
 ('C4477047',),
 ('C4915470',),
 ('C6426034',),
 ('C4015436',),
 ('C4410540',),
 ('C5640556',),
 ('C6739680',),
 ('C1112747',),
 ('C6138165',),
 ('C5228049',),
 ('C2982517',),
 ('C2827365',),
 ('C7068624',),
 ('C7691679',),
 ('C8225439',),
 ('C6938612',),
 ('C1036559',),
 ('C4385949',),
 ('C3076949',),
 ('C1710412',),
 ('C1721850',),
 ('C7324817',),
 ('C2310150',),
 ('C7920240',),
 ('C4211280',),
 ('C7418489',),
 ('C1937037',),
 ('C7116983',),
 ('C7028618',),
 ('C3619734',),
 ('C1465764',),
 ('C9017319',),
 ('C4314632',),
 ('C6833817',),
 ('C7739172',),
 ('C7220939',),
 ('C4317057',),
 ('C7616828',),
 ('C6414958',),
 ('C3113229',),
 ('C7724019',),
 ('C8426815',),
 ('C7740930',),
 ('C4284518',),
 ('C7852073',),
 ('C8333690',),
 ('C1513071',),
 ('C6748462',),
 ('C7311736',),
 ('C2732854',),
 ('C7317183',),
 ('C3022825',),
 ('C3026568',),
 ('C2818241',),
 ('C3327844',),
 ('C6237943',),
 ('C5642446',),
 ('C1624137',),
 ('C8180518',),
 ('C5511864',),
 ('C7634663',),
 ('C8031416',),
 ('C2925062',),
 ('C4077677',),
 ('C8337787',),
 ('C6940881',),
 ('C5334445',),
 ('C4338378',),
 ('C7735643',),
 ('C2937590',),
 ('C2612339',),
 ('C8327313',),
 ('C2619021',),
 ('C8494366',),
 ('C3310557',),
 ('C3336216',),
 ('C8523089',),
 ('C3723133',),
 ('C7318390',),
 ('C8124624',),
 ('C5714989',),
 ('C7345465',),
 ('C4215835',),
 ('C3137717',),
 ('C1233484',),
 ('C2019025',),
 ('C4618330',),
 ('C7934960',),
 ('C8640279',),
 ('C3027721',),
 ('C1824237',),
 ('C3882354',),
 ('C5320964',),
 ('C7221611',),
 ('C6829930',),
 ('C6141673',),
 ('C1285568',),
 ('C3837152',),
 ('C6212114',),
 ('C5473655',),
 ('C4424116',),
 ('C7518612',),
 ('C2214021',),
 ('C6894533',),
 ('C8627291',),
 ('C3612166',),
 ('C2622240',),
 ('C7837538',),
 ('C5434623',),
 ('C5872516',),
 ('C1135963',),
 ('C1410573',),
 ('C1312278',),
 ('C5033177',),
 ('C4721984',),
 ('C6638577',),
 ('C6615677',),
 ('C7830533',),
 ('C5141352',),
 ('C2232944',),
 ('C4131688',),
 ('C6226036',),
 ('C3437686',),
 ('C8728166',),
 ('C5885614',),
 ('C2575480',),
 ('C6727588',),
 ('C3435841',),
 ('C7538367',),
 ('C7121147',),
 ('C7026014',),
 ('C5114861',),
 ('C6195061',),
 ('C1694566',),
 ('C3940612',),
 ...]

In [30]:
%%sql

CREATE TEMPORARY TABLE temp_valued_customers AS
SELECT t.custID
FROM transactions t
JOIN (
    SELECT custID, transaction_amount
    FROM transactions
    GROUP BY custID
) AS transactions ON t.custID = transactions.custID
WHERE t.account_balance BETWEEN 8001 AND 160000
  AND transactions.transaction_amount BETWEEN 901 AND 100000;

 * sqlite://
Done.

[]

In [31]:
%%sql

CREATE TEMPORARY TABLE temp_rare_customers AS
SELECT t.custID
FROM transactions t
JOIN (
    SELECT custID, transaction_amount
    FROM transactions
    GROUP BY custID
) AS trans ON t.custID = trans.custID
WHERE t.account_balance > 160000
  AND trans.transaction_amount > 100000;

 * sqlite://
Done.

[]

Calculating the percentage of total transactions made by these customer segments:

In [32]:
%%sql

WITH num_transactions AS (
    SELECT SUM(transaction_amount) AS total_transactions FROM transactions
)
SELECT
 segment_name, segment_transactions,
 (segment_transactions * 100.0 / total_transactions) AS percent_of_total_transactions
FROM (
    SELECT 'Majority' AS segment_name, (SELECT SUM(transaction_amount) FROM transactions JOIN temp_majority_customers v ON transactions.custID = v.custID) AS segment_transactions
    UNION ALL
    SELECT 'Valued' AS segment_name, (SELECT SUM(transaction_amount) FROM transactions JOIN temp_valued_customers t ON transactions.custID = t.custID) AS segment_transactions
    UNION ALL
    SELECT 'Rare' AS segment_name, (SELECT SUM(transaction_amount) FROM transactions JOIN temp_rare_customers r ON transactions.custID = r.custID) AS segment_transactions
) AS segment_transactions, num_transactions;

 * sqlite://
Done.

[('Majority', 660122.59, 3.6051546879698075),
 ('Valued', 8668007.27, 47.338945096238675),
 ('Rare', 137890, 0.7530643360109169)]

The percentage of these segments compared to the total customers:

In [33]:
%%sql

WITH segments AS (
        SELECT 'Majority' AS segment_name, COUNT(DISTINCT custID) AS segment_customers
        FROM temp_majority_customers
        UNION ALL
        SELECT 'Valued' AS segment_name, COUNT(DISTINCT custID) AS segment_customers
        FROM temp_valued_customers
        UNION ALL
        SELECT 'Rare' AS segment_name, COUNT(DISTINCT custID) AS segment_customers
        FROM temp_rare_customers
        ),
total_customers AS (
        SELECT SUM(segment_customers) as total_customers FROM segments
)
SELECT segment_name, (segment_customers * 100 / (SELECT total_customers FROM total_customers)) AS percentage_of_total_customers
FROM segments;

 * sqlite://
Done.

[('Majority', 58), ('Valued', 41), ('Rare', 0)]

In [34]:
%sql ALTER TABLE customers ADD COLUMN age INTEGER;

 * sqlite://
Done.

[]

In [35]:
%%sql

UPDATE customers
SET age = strftime('%Y', 'now') - strftime('%Y', DOB) - (strftime('%m-%d', 'now') < strftime('%m-%d', DOB));

 * sqlite://
741 rows affected.

[]

In [36]:
%sql SELECT * FROM customers;

 * sqlite://
Done.

[('C5841053', '1994-01-10', 'Female', 'JAMSHEDPUR', 30),
 ('C2142763', '1957-04-04', 'Male', 'JHAJJAR', 67),
 ('C4417068', '1996-11-26', 'Female', 'MUMBAI', 27),
 ('C5342380', '1973-09-14', 'Female', 'MUMBAI', 50),
 ('C9031234', '1988-03-24', 'Female', 'MUMBAI', 36),
 ('C1536588', '1972-10-08', 'Female', 'ITANAGAR', 51),
 ('C7126560', '1992-01-26', 'Female', 'MUMBAI', 32),
 ('C1220223', '1982-01-27', 'Male', 'MUMBAI', 42),
 ('C8536061', '1988-04-19', 'Female', 'GURGAON', 36),
 ('C6638934', '1984-06-22', 'Male', 'MUMBAI', 39),
 ('C5430833', '1982-07-22', 'Male', 'MOHALI', 41),
 ('C6939838', '1988-07-07', 'Male', 'GUNTUR', 35),
 ('C6339347', '1978-06-13', 'Male', 'AHMEDABAD', 45),
 ('C8327851', '1992-01-05', 'Female', 'THANE', 32),
 ('C7917151', '1978-03-24', 'Male', 'PUNE', 46),
 ('C8334633', '1968-07-10', 'Female', 'DELHI', 55),
 ('C1376215', '1900-01-01', 'Male', 'MUMBAI', 124),
 ('C8967349', '1989-07-16', 'Male', 'MUMBAI', 34),
 ('C3732016', '1991-01-11', 'Male', 'MUMBAI', 33),
 ('C8999019', '1985-06-24', 'Male', 'PUNE', 38),
 ('C6121429', '1993-04-20', 'Male', 'PUNE', 31),
 ('C4511244', '1989-08-31', 'Female', 'SECUNDERABAD', 34),
 ('C7018081', '1900-01-01', 'Male', 'WAYS PANCHKUVA AHMEDABAD', 124),
 ('C5830215', '1986-10-01', 'Male', 'LUCKNOW', 37),
 ('C1219943', '1991-05-17', 'Female', 'GURGAON', 32),
 ('C5521085', '1993-02-24', 'Male', 'GURGAON', 31),
 ('C5430368', '1986-02-01', 'Male', 'DELHI', 38),
 ('C2416848', '1993-04-01', 'Male', 'CHENNAI', 31),
 ('C7935438', '1900-01-01', 'Male', 'MOHALI', 124),
 ('C8736958', '1986-12-19', 'Male', 'GRAM PANCHAYTH HYDERABAD', 37),
 ('C7648712', '1967-01-21', 'Female', 'DELHI', 57),
 ('C5652115', '1991-06-26', 'Female', 'GHAZIABAD', 32),
 ('C1889073', '1985-02-25', 'Female', 'BANGALORE', 39),
 ('C2043652', '1979-07-25', 'Female', 'MUMBAI', 44),
 ('C7017047', '1977-04-23', 'Male', 'GURGAON', 47),
 ('C1211387', '1900-01-01', 'Male', 'AHMEDABAD', 124),
 ('C4320949', '1984-10-25', 'Female', 'CHENNAI', 39),
 ('C2331533', '1997-12-30', 'Female', 'GUWAHATI', 26),
 ('C5338459', '1984-01-03', 'Male', 'DHANBAD', 40),
 ('C5120181', '1985-06-25', 'Male', 'MUKTSAR', 38),
 ('C5838935', '1983-04-13', 'Male', 'SOCORRO', 41),
 ('C7923455', '1992-10-06', 'Male', 'MUMBAI', 31),
 ('C2733968', '1992-12-06', 'Female', 'AURANGABAD', 31),
 ('C2023055', '1993-07-30', 'Male', 'MUMBAI', 30),
 ('C1289591', '1990-10-28', 'Male', 'KOTA', 33),
 ('C3526781', '1980-11-02', 'Male', 'CHENNAI', 43),
 ('C8934588', '1981-10-23', 'Male', 'JAIPUR', 42),
 ('C7542443', '1989-12-29', 'Male', 'K V RANGAREDDY', 34),
 ('C6427687', '1981-07-04', 'Male', 'MUZAFFARNAGAR', 42),
 ('C5242591', '1982-12-01', 'Male', 'BURDWAN', 41),
 ('C8624922', '1982-06-26', 'Female', 'GURGAON', 41),
 ('C6637047', '1966-07-25', 'Male', 'PUNE', 57),
 ('C3815912', '1994-11-02', 'Male', 'MUMBAI', 29),
 ('C8837044', '1988-11-20', 'Female', 'LUDHIANA', 35),
 ('C4237628', '1987-04-10', 'Male', 'NOIDA', 37),
 ('C1516160', '1990-10-02', 'Male', 'GURGAON', 33),
 ('C4415955', '1994-12-07', 'Male', 'AGRA', 29),
 ('C3932235', '1991-08-20', 'Male', 'SHAHJAHANPUR', 32),
 ('C5623837', '1984-08-07', 'Male', 'DELHI', 39),
 ('C7415323', '1989-03-06', 'Male', 'DIST RAIGAD PANVEL', 35),
 ('C7642737', '1988-05-07', 'Male', 'DEHRADUN', 36),
 ('C2431680', '1975-04-11', 'Female', 'BANGALORE', 49),
 ('C1130989', '1990-10-22', 'Male', 'PUNE', 33),
 ('C3928242', '1989-06-01', 'Male', 'JAIPUR', 34),
 ('C2936517', '1989-04-17', 'Female', 'HYDERABAD', 35),
 ('C1040842', '1991-09-07', 'Male', 'MUMBAI', 32),
 ('C8417574', '1990-07-17', 'Female', 'MUMBAI', 33),
 ('C6730370', '1994-01-01', 'Male', 'GODDA', 30),
 ('C2726074', '1985-10-02', 'Female', 'THANE', 38),
 ('C8017865', '1982-03-14', 'Female', 'DELHI', 42),
 ('C8932791', '1983-09-10', 'Male', 'REWARI (HARYANA)', 40),
 ('C2725826', '1980-03-15', 'Male', 'BANGALORE', 44),
 ('C6694517', '1977-08-10', 'Male', 'GURGAON', 46),
 ('C7527844', '1982-02-16', 'Male', 'BANGALORE', 42),
 ('C2016883', '1994-08-20', 'Female', 'NELLORE', 29),
 ('C5930363', '1994-08-20', 'Male', 'ADIPUR', 29),
 ('C1021343', '1980-02-23', 'Male', 'MUMBAI', 44),
 ('C5529374', '1984-06-24', 'Male', 'GURGAON', 39),
 ('C3013442', '1990-10-30', 'Male', 'DELHI', 33),
 ('C6612422', '1967-05-25', 'Male', 'DELHI', 56),
 ('C8342660', '1967-05-04', 'Male', 'DUBAI', 57),
 ('C4824547', '1984-07-05', 'Female', 'ALLAHABAD', 39),
 ('C1711530', '1992-02-15', 'Male', 'DELHI', 32),
 ('C8640537', '1990-08-29', 'Female', 'BATHINDA', 33),
 ('C3839727', '1983-01-20', 'Male', 'GHAZIABAD', 41),
 ('C2715454', '1983-05-01', 'Male', 'NASHIK', 41),
 ('C5931634', '1995-08-15', 'Female', 'CHENNAI', 28),
 ('C7918237', '1974-09-03', 'Male', 'JAMMU', 49),
 ('C1625292', '1988-11-18', 'Female', 'AURANGABAD', 35),
 ('C2211527', '1984-09-13', 'Male', 'BANGALORE', 39),
 ('C6030281', '1985-06-03', 'Male', 'DELHI', 38),
 ('C1925215', '1978-03-03', 'Female', 'BANGALORE', 46),
 ('C6040326', '1992-02-09', 'Male', 'JABALPUR', 32),
 ('C5232732', '1972-04-28', 'Male', 'DELHI', 52),
 ('C1616335', '1981-05-17', 'Male', 'MUMBAI', 42),
 ('C4226473', '1988-05-25', 'Male', 'KASHIPUR', 35),
 ('C3232257', '1994-10-15', 'Male', 'ETAH', 29),
 ('C1717631', '1987-07-14', 'Male', 'DELHI', 36),
 ('C7130627', '1989-06-10', 'Female', 'DELHI', 34),
 ('C1713934', '1977-09-18', 'Female', 'KOLKATA', 46),
 ('C2742048', '1986-04-29', 'Female', 'DELHI', 38),
 ('C4953770', '1986-10-27', 'Male', 'VADODARA', 37),
 ('C6427021', '1981-04-01', 'Male', 'DELHI', 43),
 ('C7833983', '1987-11-30', 'Female', 'TIRUPUR', 36),
 ('C7924053', '1971-04-15', 'Female', 'KOLKATA', 53),
 ('C7118047', '1967-08-27', 'Male', 'DELHI', 56),
 ('C5836729', '1977-05-01', 'Male', 'THANE', 47),
 ('C5712211', '1981-11-06', 'Male', 'KOLKATA', 42),
 ('C5910145', '1977-10-14', 'Male', 'GURGAON', 46),
 ('C8311768', '1990-03-06', 'Male', 'SURAT', 34),
 ('C4417481', '1993-04-20', 'Male', 'BANGALORE', 31),
 ('C4974913', '1992-07-31', 'Male', 'NAGO THANE', 31),
 ('C3911031', '1989-10-16', 'Female', 'KARUR DT', 34),
 ('C7641090', '1991-06-15', 'Male', 'CHITTO0R', 32),
 ('C7317029', '1992-03-19', 'Male', 'K V RANGAREDDY', 32),
 ('C4232113', '1991-04-16', 'Male', 'MUMBAI', 33),
 ('C5024473', '1983-07-05', 'Male', 'INDORE', 40),
 ('C4932115', '1987-06-12', 'Female', 'BANGALORE', 36),
 ('C2611254', '1984-12-21', 'Male', 'OFF CUBBON ROAD BANGALORE', 39),
 ('C6932571', '1989-01-24', 'Male', 'BANGALORE', 35),
 ('C8724471', '1986-05-07', 'Male', 'DELHI', 38),
 ('C4619519', '1988-03-23', 'Male', 'THANE', 36),
 ('C1127458', '1986-09-27', 'Male', 'NOIDA', 37),
 ('C4117761', '1989-01-15', 'Male', 'BANGALORE', 35),
 ('C8441772', '1982-04-20', 'Female', 'GURGAON', 42),
 ('C2024260', '1987-01-15', 'Male', 'PIMPALI', 37),
 ('C7785966', '1991-07-10', 'Male', 'GURGAON', 32),
 ('C5027040', '1984-03-23', 'Male', 'PUNE', 40),
 ('C2417034', '1992-02-22', 'Female', 'KANJURMARG EAST', 32),
 ('C1642073', '1982-10-12', 'Male', 'DELHI', 41),
 ('C2511417', '1992-02-26', 'Male', 'DELHI', 32),
 ('C6133064', '1991-07-28', 'Male', 'HYDERABAD', 32),
 ('C7614444', '1991-04-03', 'Male', 'SOUTH 24 PARGANAS', 33),
 ('C5343690', '1991-04-28', 'Female', 'GURGAON', 33),
 ('C1441611', '1989-04-18', 'Male', 'MUMBAI', 35),
 ('C1611437', '1989-07-01', 'Male', 'KOLKATA', 34),
 ('C1537466', '1990-10-25', 'Female', 'MIRABHAYANDER THANE MIRA ROAD', 33),
 ('C4234628', '1988-03-18', 'Male', 'MUMBAI', 36),
 ('C4325284', '1987-03-16', 'Male', 'MUMBAI', 37),
 ('C8430783', '1987-12-13', 'Female', 'GHAZIABAD', 36),
 ('C6419838', '1990-11-25', 'Male', 'MUMBAI', 33),
 ('C2442760', '1985-02-21', 'Female', 'GHAZIABAD', 39),
 ('C5236621', '1996-10-24', 'Male', 'JAIPUR', 27),
 ('C7226281', '1984-06-17', 'Male', 'HYDERABAD', 39),
 ('C2635440', '1932-01-16', 'Male', 'MUMBAI', 92),
 ('C5940325', '1994-08-24', 'Male', 'SAHARANPUR', 29),
 ('C1272724', '1982-06-29', 'Male', 'CHANDIGARH', 41),
 ('C5034425', '1989-11-09', 'Male', 'DELHI', 34),
 ('C1011359', '1994-06-05', 'Male', 'CHENNAI', 29),
 ('C6324674', '1991-09-22', 'Male', 'PUNE', 32),
 ('C8737387', '1989-08-03', 'Male', 'GURGAON', 34),
 ('C3334638', '1900-01-01', 'Male', 'PUNE', 124),
 ('C7917762', '1985-01-21', 'Female', 'BANGALORE', 39),
 ('C8037570', '1990-06-20', 'Male', 'MUMBAI', 33),
 ('C6322261', '1987-09-14', 'Male', 'ALLAHABAD', 36),
 ('C6943550', '1987-10-11', 'Male', 'COMPLEX GURGAON', 36),
 ('C8520931', '1959-04-26', 'Male', 'PUNE', 65),
 ('C7742540', '1979-09-06', 'Male', 'PUNE', 44),
 ('C7231945', '1992-05-09', 'Male', 'MUMBAI', 32),
 ('C7530036', '1979-02-02', 'Female', 'GURGAON', 45),
 ('C2837736', '1989-12-31', 'Male', 'PUNE', 34),
 ('C1268950', '1991-06-15', 'Female', 'MUMBAI', 32),
 ('C7410760', '1988-01-01', 'Male', 'GULBARGA', 36),
 ('C7840374', '1900-01-01', 'Male', 'GHAZIABAD', 124),
 ('C2215655', '1990-03-11', 'Male', 'GURGAON', 34),
 ('C5054958', '1986-12-02', 'Female', 'KANPUR', 37),
 ('C8695466', '1993-01-03', 'Male', 'MUMBAI', 31),
 ('C1437248', '1993-07-22', 'Female', 'GURGAON', 30),
 ('C8891737', '1991-07-08', 'Male', 'DELHI', 32),
 ('C6125425', '1991-10-06', 'Male', 'MUMBAI', 32),
 ('C4023754', '1996-04-23', 'Male', 'VISAKHAPATNAM', 28),
 ('C4332787', '1990-09-29', 'Female', 'DELHI', 33),
 ('C5220931', '1990-01-30', 'Female', 'HYDERABAD', 34),
 ('C1840488', '1989-04-29', 'Female', 'DELHI', 35),
 ('C2918640', '1989-05-16', 'Male', 'HISAR', 34),
 ('C8214849', '1990-05-14', 'Male', 'LUCKNOW', 34),
 ('C5698953', '1900-01-01', 'nan', 'MUMBAI', 124),
 ('C5710590', '1980-09-21', 'Male', 'AHMEDABAD', 43),
 ('C4631217', '1996-08-25', 'Female', 'HYDERABAD', 27),
 ('C4829664', '1981-01-01', 'Male', 'GURGAON', 43),
 ('C8934869', '1992-08-22', 'Male', 'MUMBAI', 31),
 ('C4834518', '1988-01-22', 'Female', 'MUMBAI', 36),
 ('C1638021', '1900-01-01', 'Male', 'DELHI', 124),
 ('C5523764', '1979-09-21', 'Male', 'PATHANKOT', 44),
 ('C1315664', '1992-02-11', 'Female', 'SUNDARGARH', 32),
 ('C8231241', '1989-06-19', 'Male', 'DELHI', 34),
 ('C6323747', '1988-08-10', 'Male', 'DELHI', 35),
 ('C4742524', '1986-04-25', 'Male', 'MARGAO', 38),
 ('C7537492', '1981-11-28', 'Male', 'MUMBAI', 42),
 ('C1516222', '1988-04-17', 'Male', 'DHULE', 36),
 ('C1931276', '1900-01-01', 'Male', 'MOHALI', 124),
 ('C4138629', '1994-04-27', 'Male', 'BANGALORE', 30),
 ('C6417852', '1984-01-23', 'Male', 'BANGALORE NORTH', 40),
 ('C4325361', '1900-01-01', 'Male', 'KOLKATA', 124),
 ('C5633923', '1991-04-12', 'Male', 'NOIDA', 33),
 ('C1938713', '1967-01-10', 'Male', 'LUCKNOW', 57),
 ('C7512180', '1978-11-11', 'Male', 'ZIRAKPUR', 45),
 ('C3720487', '1975-09-27', 'Male', 'JAIPUR', 48),
 ('C8380118', '1974-04-20', 'Male', 'SURYAPET', 50),
 ('C5922155', '1988-07-24', 'Male', 'BHIWANDI', 35),
 ('C2440683', '1992-09-15', 'Male', 'DELHI', 31),
 ('C6297162', '1993-08-15', 'Male', 'DELHI', 30),
 ('C6276018', '1989-08-19', 'Female', 'HYDERABAD', 34),
 ('C6370750', '1980-04-08', 'Male', 'THANE', 44),
 ('C7534237', '1985-09-04', 'Male', 'RAJKOT', 38),
 ('C3881215', '1993-06-15', 'Male', 'CHENNAI', 30),
 ('C7675278', '1900-01-01', 'Male', 'NOIDA', 124),
 ('C6814469', '1984-06-16', 'Male', 'NOIDA', 39),
 ('C3135066', '1981-10-02', 'Female', 'MUMBAI', 42),
 ('C1726754', '1988-02-23', 'Male', 'BANGALORE', 36),
 ('C5067828', '1991-01-04', 'Female', 'GHAZIABAD', 33),
 ('C8121828', '1996-04-19', 'Male', 'AMBEDKAR NAGAR', 28),
 ('C8426486', '1989-07-01', 'Female', 'CHENNAI', 34),
 ('C5117177', '1984-07-08', 'Female', 'DELHI', 39),
 ('C1719155', '1972-02-06', 'Male', 'PURI', 52),
 ('C7931754', '1988-05-31', 'Male', 'MUMBAI', 35),
 ('C7034179', '1985-12-13', 'Female', 'BANGALORE', 38),
 ('C7212335', '1986-05-26', 'Male', 'NAGAI DT', 37),
 ('C5413870', '1971-12-10', 'Male', 'THANE', 52),
 ('C2435753', '1980-12-17', 'Male', 'DELHI', 43),
 ('C4830619', '1993-07-16', 'Male', 'HYDERABAD', 30),
 ('C2880664', '1989-07-22', 'Male', 'BANGALORE', 34),
 ('C2213811', '1987-12-13', 'Female', 'HYDERABAD', 36),
 ('C7541566', '1992-12-21', 'Male', 'CHITTO0R', 31),
 ('C2429086', '1979-02-13', 'Male', 'DELHI', 45),
 ('C6918371', '1966-05-25', 'Female', 'KERALA', 57),
 ('C7527049', '1966-04-17', 'Male', 'SURAT', 58),
 ('C6058483', '1990-06-04', 'Male', 'GHINGHARTOLA TEH BAGESHWAR DIST', 33),
 ('C4456638', '1967-07-19', 'Female', 'DELHI', 56),
 ('C2811892', '1989-03-16', 'Male', 'MUMBAI', 35),
 ('C7823561', '1991-02-09', 'Male', 'MUMBAI', 33),
 ('C6520033', '1989-03-12', 'Male', 'MUMBAI', 35),
 ('C2110492', '1983-07-05', 'Female', 'BANGALORE', 40),
 ('C4217328', '1988-09-19', 'Male', 'BANGALORE', 35),
 ('C6927275', '1986-11-10', 'Male', 'CHENNAI', 37),
 ('C2042372', '1985-08-24', 'Female', 'NOIDA', 38),
 ('C3727411', '1987-02-21', 'Female', 'ROURKELA', 37),
 ('C5136863', '1987-06-24', 'Male', 'MUPPALLA GUNTUR', 36),
 ('C2434983', '1988-11-29', 'Male', 'MUMBAI', 35),
 ('C1626454', '1973-08-05', 'Male', 'MUMBAI', 50),
 ('C1316616', '1966-05-26', 'Female', 'DELHI', 57),
 ('C5042661', '1974-03-16', 'Female', 'DELHI', 50),
 ('C4531588', '1993-10-31', 'Female', 'DELHI', 30),
 ('C5528968', '1900-01-01', 'Male', 'PIPARIYA', 124),
 ('C4814390', '1971-10-01', 'Female', 'MIRA ROAD E', 52),
 ('C6437438', '1983-05-22', 'Female', 'BHUBANESHWAR', 40),
 ('C8738676', '1900-01-01', 'Male', 'RAJPURA', 124),
 ('C1812573', '1987-01-14', 'Female', 'SAHARANPUR', 37),
 ('C8915718', '1986-06-26', 'Female', 'PANCHKULA', 37),
 ('C5334280', '1974-08-20', 'Male', 'ROURKELA', 49),
 ('C5920074', '1983-10-26', 'Female', 'FARIDABAD', 40),
 ('C1733292', '1989-11-04', 'Male', 'CHENNAI', 34),
 ('C6230681', '1989-11-19', 'Female', 'BANGALORE', 34),
 ('C1977592', '1993-10-30', 'Male', 'JALANDHAR', 30),
 ('C4418491', '1990-03-05', 'Female', 'DELHI', 34),
 ('C5212180', '1986-03-18', 'Female', 'MUMBAI', 38),
 ('C5227319', '1980-05-18', 'Female', 'MUMBAI', 43),
 ('C9016392', '1990-08-24', 'Male', 'DELHI', 33),
 ('C3531473', '1989-12-03', 'Male', 'KOLKATA', 34),
 ('C7340149', '1977-06-28', 'Male', 'GWALIOR', 46),
 ('C8091089', '1973-04-10', 'Male', 'INDORE', 51),
 ('C7878838', '1900-01-01', 'Male', 'MUMBAI', 124),
 ('C8917722', '1900-01-01', 'Male', 'GURGAON', 124),
 ('C8627747', '1983-02-19', 'Female', 'PUNE', 41),
 ('C5312019', '1994-04-23', 'Male', 'MUMBAI', 30),
 ('C7621186', '1984-03-12', 'Male', 'THANE', 40),
 ('C7832128', '1900-01-01', 'Female', 'PUNE', 124),
 ('C8910280', '1991-07-17', 'Male', 'DELHI', 32),
 ('C2526046', '1988-01-07', 'Female', 'KOLKATA', 36),
 ('C2632615', '1999-02-18', 'Male', 'BAGHPAT', 25),
 ('C2822770', '1900-01-01', 'Male', 'DELHI', 124),
 ('C8439216', '1993-04-06', 'Male', 'GURGAON', 31),
 ('C6432618', '1987-08-12', 'Male', 'BANGALORE', 36),
 ('C5310729', '1983-01-16', 'Male', 'NOIDA', 41),
 ('C5741387', '1984-07-02', 'Female', 'KOLKATA', 39),
 ('C6676689', '1983-05-02', 'Female', 'BANGALORE', 41),
 ('C7472456', '1992-03-17', 'Female', 'BANGALORE', 32),
 ('C3117918', '1985-01-06', 'Male', 'PUNE', 39),
 ('C1837362', '1965-08-15', 'Female', 'DELHI', 58),
 ('C1428060', '1986-06-27', 'Male', 'NOIDA', 37),
 ('C7629962', '1982-05-18', 'Female', 'RAJPURA', 41),
 ('C7921623', '1988-07-18', 'Male', 'AMBALA', 35),
 ('C5129934', '1985-05-17', 'Female', 'ZONE WHITEFIELD BANGALORE', 38),
 ('C7327571', '1985-04-19', 'Male', 'DELHI', 39),
 ('C3460025', '1991-06-26', 'Male', 'GORAKHPUR', 32),
 ('C7812071', '1993-11-21', 'Male', 'DELHI', 30),
 ('C1728525', '1991-03-16', 'Male', 'MUMBAI', 33),
 ('C4636775', '1986-09-23', 'Male', 'MOHALI', 37),
 ('C3871476', '1986-09-12', 'Female', 'DELHI', 37),
 ('C5122418', '1985-10-10', 'Male', 'CHENNAI', 38),
 ('C8920230', '1972-08-02', 'Male', 'GURGAON', 51),
 ('C4336382', '1978-07-19', 'Male', 'GHAZIABAD', 45),
 ('C7058034', '1992-03-06', 'Female', 'CHENNAI', 32),
 ('C5411869', '1999-12-24', 'Male', 'BARAMATI', 24),
 ('C6952840', '1981-11-05', 'Male', 'DELHI', 42),
 ('C8732711', '1979-02-09', 'Female', 'YAMUNANAGAR', 45),
 ('C7421711', '1988-05-04', 'Male', 'DELHI', 36),
 ('C3151961', '1987-01-10', 'Male', 'DELHI', 37),
 ('C7338641', '1982-07-24', 'Male', 'GURGAON', 41),
 ('C4318459', '1988-12-13', 'Female', 'GHAZIABAD', 35),
 ('C7325318', '1987-03-07', 'Male', 'MANGALORE', 37),
 ('C7136280', '1984-01-06', 'Male', 'TALUK BANGALORE', 40),
 ('C4026349', '1900-01-01', 'Male', 'DELHI', 124),
 ('C3418523', '1982-07-12', 'Male', 'LUCKNOW', 41),
 ('C7118840', '1994-05-29', 'Male', 'GUNTUR', 29),
 ('C9045422', '1987-06-13', 'Male', 'FIROZABAD', 36),
 ('C2324371', '1941-11-09', 'Male', 'PONDICHERRY', 82),
 ('C7119722', '1992-04-15', 'Male', 'RAIGAD', 32),
 ('C4111528', '1996-01-20', 'Male', 'BULANDSHAHR', 28),
 ('C4241947', '1991-03-21', 'Female', 'HYDERABAD', 33),
 ('C1851438', '1985-09-29', 'Female', 'DELHI', 38),
 ('C3537555', '1984-04-06', 'Male', 'MUMBAI', 40),
 ('C8046459', '1954-11-25', 'Male', 'THRISSUR', 69),
 ('C4637288', '1993-10-25', 'Female', 'CHENNAI', 30),
 ('C3126340', '1981-06-03', 'Male', 'KOLKATA', 42),
 ('C7358678', '1970-04-27', 'Male', 'MOHALI', 54),
 ('C6533711', '1992-02-08', 'Male', 'PUNE', 32),
 ('C7229966', '1988-06-16', 'Male', 'DELHI', 35),
 ('C8340771', '1989-09-13', 'Female', 'BANGALORE', 34),
 ('C7412163', '1986-10-17', 'Male', 'MUMBAI', 37),
 ('C7077319', '1985-05-30', 'Male', 'MOHALI', 38),
 ('C5113983', '1996-08-26', 'Male', 'SONIPAT', 27),
 ('C1842088', '1986-12-31', 'Female', 'MUMBAI', 37),
 ('C5115757', '1975-05-29', 'Male', 'BANGALORE', 48),
 ('C2025386', '1900-01-01', 'Male', 'PANCHKULA', 124),
 ('C2831424', '1984-08-29', 'Male', 'THANE', 39),
 ('C5141914', '1981-01-05', 'Female', 'DELHI', 43),
 ('C6842357', '1981-10-29', 'Female', 'MUMBAI', 42),
 ('C8732168', '1990-02-21', 'Male', 'GUWAHATI', 34),
 ('C8028147', '1990-08-16', 'Male', 'DEWAS', 33),
 ('C4928385', '1996-11-20', 'Male', 'MANGALORE', 27),
 ('C8019992', '1981-02-03', 'Male', 'MUMBAI', 43),
 ('C1199845', '1976-07-07', 'Male', 'NOIDA', 47),
 ('C4514125', '1978-02-13', 'Male', 'DELHI', 46),
 ('C3540268', '1984-03-18', 'Male', 'MUMBAI', 40),
 ('C2112770', '1980-12-14', 'Male', 'AMBALA CANTT', 43),
 ('C4741192', '1981-08-13', 'Male', 'HYDERABAD', 42),
 ('C7622921', '1990-07-06', 'Male', 'BILASPUR', 33),
 ('C1230589', '1986-06-18', 'Male', 'RAI SONEPAT', 37),
 ('C2842136', '1988-06-30', 'Male', 'DELHI', 35),
 ('C5484469', '1992-04-13', 'Male', 'JAUNPUR', 32),
 ('C6537226', '1988-10-15', 'Female', 'BANGALORE', 35),
 ('C2715020', '1991-07-07', 'Female', 'THANE', 32),
 ('C7719580', '1986-01-12', 'Female', 'AMRITSAR', 38),
 ('C7621040', '1990-06-16', 'Male', 'NOIDA', 33),
 ('C2640757', '1991-07-16', 'Male', 'BANGALORE', 32),
 ('C6038224', '1976-10-08', 'Female', 'BANGALORE', 47),
 ('C1531843', '1992-09-22', 'Male', 'RANGA REDDY', 31),
 ('C6840862', '1988-12-24', 'Female', 'MUMBAI', 35),
 ('C7818719', '1992-03-03', 'Male', 'BADDI', 32),
 ('C6918613', '1991-03-07', 'Male', 'SRIPERUMBUDUR', 33),
 ('C6097555', '1991-01-28', 'Female', 'NAINITAL', 33),
 ('C6514450', '1985-06-07', 'Female', 'AURANGABAD', 38),
 ('C9013087', '1979-08-13', 'Male', 'GURGAON', 44),
 ('C3394923', '1971-06-21', 'Male', 'PUNE', 52),
 ('C6330647', '1997-05-28', 'Male', 'DELHI', 26),
 ('C8232987', '1985-07-19', 'Female', 'FATEHABAD', 38),
 ('C2617558', '1988-11-01', 'Male', 'BANGALORE', 35),
 ('C4036642', '1990-01-30', 'Female', 'GURGAON', 34),
 ('C9032313', '1993-11-28', 'Female', 'GURGAON', 30),
 ('C3634380', '1979-05-07', 'Male', 'DEWAS', 45),
 ('C4221454', '1987-07-01', 'Male', 'BERHAMPUR', 36),
 ('C4423943', '1985-09-23', 'Male', 'PUNE', 38),
 ('C8839356', '1972-02-24', 'Male', 'KOLKATA', 52),
 ('C7038486', '1970-09-06', 'Male', 'KOLKATA', 53),
 ('C6784890', '1971-05-10', 'Male', 'NOIDA', 53),
 ('C6386783', '1994-01-12', 'Female', 'FARIDABAD', 30),
 ('C3714185', '1979-01-31', 'Male', 'NAGPUR', 45),
 ('C6264271', '1992-01-16', 'Male', 'DEHRADUN', 32),
 ('C5430731', '1989-12-04', 'Female', 'MEERUT', 34),
 ('C4930849', '1986-10-08', 'Female', 'LUCKNOW', 37),
 ('C8641980', '1980-04-15', 'Male', 'PUNE', 44),
 ('C4222235', '1900-01-01', 'Female', 'STATION BANGALORE', 124),
 ('C2014613', '1986-04-17', 'Male', 'DELHI', 38),
 ('C7534876', '1994-10-18', 'Female', 'DELHI', 29),
 ('C7731530', '1991-02-23', 'Male', 'MUMBAI', 33),

Putting customers in different age groups:

In [37]:
%%sql

CREATE TEMPORARY TABLE age_groups AS
SELECT
 CASE
  WHEN age BETWEEN 18 AND 25 THEN '18-25'
  WHEN age BETWEEN 26 AND 45 THEN '26-45'
  WHEN age BETWEEN 46 AND 60 THEN '46-60'
  ELSE '60+'
 END AS age_group,
 COUNT(*) AS num_customers
FROM customers c
JOIN temp_majority_customers v on v.custID = c.custID
GROUP BY age_group;

 * sqlite://
Done.

[]

In [38]:
%%sql

SELECT
    age_group,
    num_customers * 100.0 / (SELECT SUM(num_customers) FROM age_groups) AS percentage_of_customers
FROM
    age_groups;

 * sqlite://
Done.

[('18-25', 1.5957446808510638),
 ('26-45', 87.76595744680851),
 ('46-60', 5.319148936170213),
 ('60+', 5.319148936170213)]

In [39]:
%%sql

CREATE TEMPORARY TABLE age_groups_t AS
SELECT
 CASE
  WHEN age BETWEEN 18 AND 25 THEN '18-25'
  WHEN age BETWEEN 26 AND 45 THEN '26-45'
  WHEN age BETWEEN 46 AND 60 THEN '46-60'
  ELSE '60+'
 END AS age_group,
 COUNT(*) AS num_customers
FROM customers c
JOIN temp_valued_customers v on v.custID = c.custID
GROUP BY age_group;

 * sqlite://
Done.

[]

In [40]:
%%sql

SELECT
    age_group,
    num_customers * 100.0 / (SELECT SUM(num_customers) FROM age_groups_t) AS percentage_of_customers
FROM
    age_groups_t;

 * sqlite://
Done.

[('26-45', 74.65753424657534),
 ('46-60', 13.698630136986301),
 ('60+', 11.643835616438356)]

Let's see the top 5 location of the customers.

In [41]:
%%sql

SELECT 
    location, 
    COUNT(*) AS count, 
    COUNT(*) * 100.0 / (SELECT COUNT(*) FROM customers JOIN temp_valued_customers ON customers.custID = temp_valued_customers.custID) AS percentage
FROM 
    customers 
JOIN
    temp_valued_customers ON customers.custID = temp_valued_customers.custID
GROUP BY
    location
ORDER BY percentage DESC
LIMIT 5;

 * sqlite://
Done.

[('DELHI', 24, 16.438356164383563),
 ('MUMBAI', 22, 15.068493150684931),
 ('BANGALORE', 13, 8.904109589041095),
 ('PUNE', 7, 4.794520547945205),
 ('CHENNAI', 7, 4.794520547945205)]

In [42]:
%%sql

SELECT 
    location, 
    COUNT(*) AS count, 
    COUNT(*) * 100.0 / (SELECT COUNT(*) FROM customers JOIN temp_majority_customers ON customers.custID = temp_majority_customers.custID) AS percentage
FROM 
    customers 
JOIN 
    temp_majority_customers ON customers.custID = temp_majority_customers.custID
GROUP BY 
    location
ORDER BY percentage DESC
LIMIT 5;

 * sqlite://
Done.

[('MUMBAI', 21, 11.170212765957446),
 ('DELHI', 20, 10.638297872340425),
 ('BANGALORE', 18, 9.574468085106384),
 ('PUNE', 8, 4.25531914893617),
 ('GURGAON', 8, 4.25531914893617)]

# The End #